Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check-instanceof-model
        name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
        files: ^platform/wab/src/.*\.(ts|tsx)$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
        language: system
  - repo: local
    hooks:
      - id: check-weakrefs
        name: Check new weak refs in the project and warn about files that might need to be updated
        files: ^platform/wab/src/wab/model/model-schema.ts$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
        language: system
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on code written by humans
        files: ^.*\.(js|jsx|cjs|mjs|ts|tsx|cts|mts|json|css|scss|md|toml|xml)$
        exclude: (^.*/(plasmic|deps|static|\.yalc)/.*$)|(^loader-tests/data/.*\.json$)|(examples/hydrogen-.*)|(api/.*\.md$)
        entry: env NODE_OPTIONS=--max-old-space-size=4096 prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@2.8.8
          - prettier-plugin-organize-imports@3.2.2
          - typescript@4.7.4
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on Plasmic-generated files
        files: ^.*/plasmic/.*\.(js|jsx|ts|tsx|json|css|scss|md|toml|xml)$
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check merge conflicts
      - id: trailing-whitespace
        name: Check trailing whitespaces
        exclude: ^.*/__snapshots__/.*$
  - repo: local
    hooks:
      - id: eslint
        name: Lint ts/tsx files with eslint
        files: ^platform/wab/src/.*\.(ts|tsx)$
        types: [file]
        entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
        language: system
  # From public-packages
  #  - repo: https://github.com/pre-commit/mirrors-eslint
  #    rev: v8.44.0
  #    hooks:
  #      - id: eslint
  #        types: [file]
  #        files: ^.*\.(ts|tsx)$
  #        exclude: ^.*/plasmic/.*$
  #        additional_dependencies:
  #          - "@typescript-eslint/eslint-plugin@5.62.0"
  #          - "@typescript-eslint/parser@5.62.0"
  #          - "eslint@8.44.0"
  #          - "eslint-config-prettier@8.8.0"
  #          - "eslint-config-react-app@7.0.1"
  #          - "eslint-plugin-prettier@4.2.1"
  - repo: local
    hooks:
      - id: check-plume-version
        name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
        files: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
        entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
        language: system
  - repo: local
    hooks:
      - id: check-bundle-migrations
        name: Update list of bundle migrations and check migration numbers
        files: ^platform/wab/src/wab/server/bundle-migrations/.*$
        entry: platform/wab/tools/bundle-migration-check.sh
        language: system
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfiles
        args: [--failure-threshold=warning]

.
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
Due: check-instanceof-model, eslint

removed log
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
Due: check-instanceof-model, eslint

removed unused err
  platform/wab/src/wab/client/components/cms/CmsInputs.tsx
Due: check-instanceof-model, eslint

added thread history to ThreadComments (#645)
  platform/wab/plasmic.json
  platform/wab/plasmic.lock
  platform/wab/src/wab/client/components/comments/ThreadComments.tsx
  platform/wab/src/wab/client/components/comments/ThreadHistory.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadHistory.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadHistory.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/shared/ApiSchema.ts
Due: check-instanceof-model, eslint

revert unintended changes
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
Due: check-instanceof-model, eslint

-
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
Due: check-instanceof-model, eslint

undefined to empty string
  platform/wab/src/wab/client/components/cms/CmsInputs.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
Due: check-instanceof-model, eslint

-
  platform/wab/src/wab/server/db/DbMgr.ts
Due: check-instanceof-model, eslint

add comment, checkUniqueness
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
Due: check-instanceof-model, eslint

[PLA-11878]: Mentions popover cuts off in the new Canvas Dialog (#649)
  platform/wab/plasmic.lock
  platform/wab/src/wab/client/components/comments/CommentPostForm.tsx
  platform/wab/src/wab/client/components/comments/ThreadComments.tsx
  platform/wab/src/wab/client/components/comments/ThreadCommentsDialog.tsx
  platform/wab/src/wab/client/plasmic/PlasmicButton.tsx
  platform/wab/src/wab/client/plasmic/PlasmicIconButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicAddCommentMarker.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicAddCommentMarker.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPost.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPost.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostForm.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostForm.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostFormDialog.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostFormDialog.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsDialogHead.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsDialogHead.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsTab.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsTab.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicMarkdownHintsPopoverContent.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicMarkdownHintsPopoverContent.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadComments.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadComments.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadCommentsDialog.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadCommentsDialog.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicDialog.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicDialog.tsx
Due: check-instanceof-model, eslint

improve user participation logic in Send Email Notification (#614)
  platform/wab/src/wab/server/emails/comment-notification-email.spec.ts
  platform/wab/src/wab/server/scripts/send-comments-notifications.spec.ts
  platform/wab/src/wab/server/scripts/send-comments-notifications.ts
  platform/wab/src/wab/server/scripts/utils.spec.ts
  platform/wab/src/wab/server/scripts/utils.ts
  platform/wab/src/wab/server/test/backend-util.ts
  platform/wab/src/wab/server/test/comments-util.ts
Due: check-instanceof-model, eslint

backend code changes after code review
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
  platform/wab/src/wab/server/AppServer.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/cmse.ts
  platform/wab/src/wab/server/util/cms-util.ts
  platform/wab/src/wab/shared/ApiErrors/cms-errors.ts
  platform/wab/src/wab/shared/ApiSchema.ts
  platform/wab/src/wab/shared/SharedApi.ts
Due: check-instanceof-model, eslint

[PLA-11679] Fix tryZoomToFitSelection not changing zoom properly when clicking a comment post (#653)
  platform/wab/src/wab/client/components/comments/RootComment.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/client/studio-ctx/comments-ctx.ts
Due: check-instanceof-model, eslint

fix(code-components): remove StyleExpr when changing prop type from className
  platform/wab/src/wab/shared/code-components/code-components.ts
Due: check-instanceof-model, eslint

chore: remove linting logs
  platform/wab/src/wab/shared/linting/lint-screen-variant-overrides.ts
Due: check-instanceof-model, eslint

fix(component-props): make prop type names match the model type names
  platform/wab/src/wab/client/components/modals/ComponentPropModal.tsx
  platform/wab/src/wab/shared/model/model-util.ts
Due: check-instanceof-model, eslint

fix: Use correct importPath in @plasmicpkgs/fetch (#658)
  plasmicpkgs/fetch/src/index.ts
Due: none

fix: Swallow userPlasmicServerQuery errors (#659)
  packages/data-sources/src/serverQueries/client.ts
Due: none

Publish
  packages/data-sources/package.json
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
  plasmicpkgs/fetch/package.json
  plasmicpkgs/plasmic-rich-components/package.json
Due: none

fix: remove some unwanted imports from client/ in shared/ (#655)
  platform/wab/src/wab/client/FreestyleManipulator.tsx
  platform/wab/src/wab/client/components/canvas/CanvasFrame/CanvasFrame.tsx
  platform/wab/src/wab/client/components/canvas/HoverBox/HoverBoxes.tsx
  platform/wab/src/wab/client/components/canvas/view-ops.tsx
  platform/wab/src/wab/client/components/studio/view-editor.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/Arenas.ts
  platform/wab/src/wab/shared/page-arenas.ts
Due: check-instanceof-model, eslint

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix: Swallow s3 error in dev mode (#660)
  platform/wab/src/wab/server/util/s3-util.ts
Due: check-instanceof-model, eslint

[PLA-11792]: Add Mentions & Replies filter on the FE (#654)
  platform/wab/plasmic.json
  platform/wab/plasmic.lock
  platform/wab/src/wab/client/components/comments/CommentsTab.tsx
  platform/wab/src/wab/client/components/comments/utils.ts
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicAddCommentMarker.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPost.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostForm.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsDialogHead.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsTab.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsTab.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicMarkdownHintsPopoverContent.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicPlexusButton.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicPlexusButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicPopover.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicPopover.tsx
  platform/wab/src/wab/client/studio-ctx/comments-ctx.ts
  platform/wab/src/wab/server/scripts/send-comments-notifications.ts
  platform/wab/src/wab/shared/comments-utils.spec.ts
  platform/wab/src/wab/shared/comments-utils.ts
Due: check-instanceof-model, eslint

chore(dynamodb): add dynamodb credentials to secret instead of env var
  platform/wab/src/wab/server/copilot/llms.ts
  platform/wab/src/wab/server/secrets.ts
Due: check-instanceof-model, eslint

[DEVOP-130] Created pipeline to push services to GAR (#650)
  platform/wab/Dockerfile
Due: none

[PLA-11876] Comment dialogs should not exceed the boundaries (#652)
  platform/wab/src/wab/client/components/comments/CommentPostFormDialog.tsx
  platform/wab/src/wab/client/components/comments/ThreadCommentsDialog.tsx
  platform/wab/src/wab/styles/main.sass
Due: check-instanceof-model, eslint

[PLA-11759] New comment thread UI (#661)
  platform/wab/plasmic.json
  platform/wab/plasmic.lock
  platform/wab/src/wab/client/components/comments/CanvasCommentMarkers.tsx
  platform/wab/src/wab/client/components/comments/CommentPost.tsx
  platform/wab/src/wab/client/components/comments/CommentPostFormDialog.tsx
  platform/wab/src/wab/client/components/comments/CommentsDialogHead.tsx
  platform/wab/src/wab/client/components/comments/CommentsTab.tsx
  platform/wab/src/wab/client/components/comments/RootComment.tsx
  platform/wab/src/wab/client/components/comments/SelectedSubjectHead.tsx
  platform/wab/src/wab/client/components/comments/ThreadComments.tsx
  platform/wab/src/wab/client/components/comments/ThreadCommentsDialog.tsx
  platform/wab/src/wab/client/components/comments/ThreadHistoryStatus.tsx
  platform/wab/src/wab/client/components/plexus/Tooltip.tsx
  platform/wab/src/wab/client/plasmic/PlasmicIconButton.module.css
  platform/wab/src/wab/client/plasmic/PlasmicIconButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicAddCommentMarker.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicAddCommentMarker.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentMarkerHoverDialog.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPost.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPost.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostForm.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentPostForm.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsDialogHead.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsDialogHead.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsTab.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicCommentsTab.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicMarkdownHintsPopoverContent.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicMarkdownHintsPopoverContent.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicSelectedSubjectHead.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicSelectedSubjectHead.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadCommentsDialog.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadHistoryStatus.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_comments/PlasmicThreadHistoryStatus.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicTooltip.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicTooltip.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicPlexusButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system_deprecated/PlasmicPopover.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_icons/icons/PlasmicIcon__CheckedCheckboxSvg.tsx
Due: check-instanceof-model, eslint

link to conflicting row
  platform/wab/src/wab/client/components/cms/CmsEntryDetails.tsx
  platform/wab/src/wab/client/components/cms/CmsInputs.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/util/cms-util.ts
  platform/wab/src/wab/shared/SharedApi.ts
  platform/wab/src/wab/shared/cms.ts
Due: check-instanceof-model, eslint

link to conflicting row
  platform/wab/src/wab/client/components/cms/CmsInputs.tsx
Due: check-instanceof-model, eslint

removed LocaleData type
  platform/wab/src/wab/shared/cms.ts
Due: check-instanceof-model, eslint

[PLA-11872]: Comments on variants should navigate to the correct variant (#640)
  platform/wab/src/wab/client/components/comments/CanvasCommentMarkers.tsx
  platform/wab/src/wab/client/components/comments/CommentIndicatorIcon.tsx
  platform/wab/src/wab/client/components/comments/CommentPostForm.tsx
  platform/wab/src/wab/client/components/comments/RootComment.tsx
  platform/wab/src/wab/client/components/comments/utils.spec.ts
  platform/wab/src/wab/client/components/comments/utils.ts
  platform/wab/src/wab/client/components/sidebar-tabs/tpl-tree.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/client/studio-ctx/comments-ctx.ts
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
  platform/wab/src/wab/shared/Variants.ts
Due: check-instanceof-model, eslint

chore(host): export usePlasmicCanvasComponentInfo from loader-* (#664)
  packages/loader-gatsby/api/index.api.md
  packages/loader-gatsby/src/index.ts
  packages/loader-nextjs/api/index.api.md
  packages/loader-nextjs/api/react-server.api.md
  packages/loader-nextjs/src/index.tsx
  packages/loader-react/api/index.api.md
  packages/loader-react/src/index.ts
Due: none

Publish
  packages/loader-gatsby/package.json
  packages/loader-nextjs/package.json
  packages/loader-react/package.json
  packages/loader-svelte/package.json
  packages/loader-vue/package.json
Due: none

upgrade-internal
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix(code-components): check 'argTypes' for 'eventHandler' prop type
  platform/wab/src/wab/shared/code-components/code-components.ts
Due: check-instanceof-model, eslint

fix: skipped comment reaction for self comment reaction (#667)
  platform/wab/src/wab/server/scripts/send-comments-notifications.spec.ts
  platform/wab/src/wab/server/scripts/send-comments-notifications.ts
Due: check-instanceof-model, eslint

chore: specify S3 Endpoint via env var for migration
  platform/loader-tests/src/test-utils.ts
  platform/wab/src/wab/server/bundle-migrations/22-add-aspect-ratio.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/routes/loader.ts
  platform/wab/src/wab/server/routes/misc.ts
  platform/wab/src/wab/server/util/s3-util.ts
  platform/wab/src/wab/server/workers/codegen.ts
Due: check-instanceof-model, eslint, check-bundle-migrations
