Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check-instanceof-model
        name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
        files: ^platform/wab/src/.*\.(ts|tsx)$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
        language: system
  - repo: local
    hooks:
      - id: check-weakrefs
        name: Check new weak refs in the project and warn about files that might need to be updated
        files: ^platform/wab/src/wab/model/model-schema.ts$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
        language: system
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on code written by humans
        files: ^.*\.(js|jsx|cjs|mjs|ts|tsx|cts|mts|json|css|scss|md|toml|xml)$
        exclude: (^.*/(plasmic|deps|static|\.yalc)/.*$)|(^loader-tests/data/.*\.json$)|(examples/hydrogen-.*)|(api/.*\.md$)
        entry: env NODE_OPTIONS=--max-old-space-size=4096 prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@2.8.8
          - prettier-plugin-organize-imports@3.2.2
          - typescript@4.7.4
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on Plasmic-generated files
        files: ^.*/plasmic/.*\.(js|jsx|ts|tsx|json|css|scss|md|toml|xml)$
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check merge conflicts
      - id: trailing-whitespace
        name: Check trailing whitespaces
        exclude: ^.*/__snapshots__/.*$
  - repo: local
    hooks:
      - id: eslint
        name: Lint ts/tsx files with eslint
        files: ^platform/wab/src/.*\.(ts|tsx)$
        types: [file]
        entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
        language: system
  # From public-packages
  #  - repo: https://github.com/pre-commit/mirrors-eslint
  #    rev: v8.44.0
  #    hooks:
  #      - id: eslint
  #        types: [file]
  #        files: ^.*\.(ts|tsx)$
  #        exclude: ^.*/plasmic/.*$
  #        additional_dependencies:
  #          - "@typescript-eslint/eslint-plugin@5.62.0"
  #          - "@typescript-eslint/parser@5.62.0"
  #          - "eslint@8.44.0"
  #          - "eslint-config-prettier@8.8.0"
  #          - "eslint-config-react-app@7.0.1"
  #          - "eslint-plugin-prettier@4.2.1"
  - repo: local
    hooks:
      - id: check-plume-version
        name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
        files: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
        entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
        language: system
  - repo: local
    hooks:
      - id: check-bundle-migrations
        name: Update list of bundle migrations and check migration numbers
        files: ^platform/wab/src/wab/server/bundle-migrations/.*$
        entry: platform/wab/tools/bundle-migration-check.sh
        language: system
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfiles
        args: [--failure-threshold=warning]

fix(components): check for tpl instances references in TplRef expr before deleting a component
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/shared/cached-selectors.ts
  platform/wab/src/wab/shared/core/sites.ts
Due: check-instanceof-model, eslint

fix(esbuild-register): upgrade package to support tsconfig file
  platform/wab/package.json
  platform/wab/patches/esbuild-register+3.5.0.patch
  platform/wab/yarn.lock
Due: none

fix(rac): add more interaction variants
  plasmicpkgs/react-aria/src/contexts.tsx
  plasmicpkgs/react-aria/src/interaction-variant-utils.tsx
  plasmicpkgs/react-aria/src/registerButton.tsx
  plasmicpkgs/react-aria/src/registerCheckbox.tsx
  plasmicpkgs/react-aria/src/registerCheckboxGroup.tsx
  plasmicpkgs/react-aria/src/registerInput.tsx
  plasmicpkgs/react-aria/src/registerRadio.tsx
  plasmicpkgs/react-aria/src/registerRadioGroup.tsx
  plasmicpkgs/react-aria/src/registerSelect.tsx
  plasmicpkgs/react-aria/src/registerSlider.tsx
  plasmicpkgs/react-aria/src/registerSliderOutput.tsx
  plasmicpkgs/react-aria/src/registerSliderThumb.tsx
  plasmicpkgs/react-aria/src/registerSliderTrack.tsx
  plasmicpkgs/react-aria/src/registerSwitch.tsx
  plasmicpkgs/react-aria/src/registerTextArea.tsx
  plasmicpkgs/react-aria/src/registerTextField.tsx
Due: none

Publish
  plasmicpkgs/react-aria/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

fix(loader-tests): reenable tests
  platform/loader-tests/cypress/snapshots/dynamic-pages.cy.ts/dynamic-pages.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-app-hosting.cy.ts/plasmic-app-hosting-example.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-basic-components.cy.ts/plasmic-basic-components-example.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-cms.cy.ts/plasmic-cms.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split-nextjs.cy.ts/plasmic-splits-home-inactive.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split-nextjs.cy.ts/plasmic-splits-home-schedule.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split-nextjs.cy.ts/plasmic-splits-home-segment.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split-nextjs.cy.ts/plasmic-splits-home.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split.cy.ts/plasmic-splits-home-experiment.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split.cy.ts/plasmic-splits-home-schedule.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split.cy.ts/plasmic-splits-home-segment.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-split.cy.ts/plasmic-splits-home.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-website.cy.ts/plasmic-website-cms.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-website.cy.ts/plasmic-website-components.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-website.cy.ts/plasmic-website-home-mobile.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-website.cy.ts/plasmic-website-home.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-website.cy.ts/plasmic-website-pricing-mobile.snap.png
  platform/loader-tests/cypress/snapshots/plasmic-website.cy.ts/plasmic-website-pricing.snap.png
  platform/loader-tests/package.json
  platform/loader-tests/yarn.lock
Due: none

chore(wab): upgrade aws-sdk to latest
  platform/wab/package.json
  platform/wab/yarn.lock
  yarn.lock
Due: none

upgrade-internal
  platform/wab/yarn.lock
Due: none

fix(branching): Warn about unpublished changes in main before merge
  platform/wab/src/wab/client/components/merge/MergeFlow.tsx
Due: check-instanceof-model, eslint

chore: Update hostless project upgrade warning
  platform/wab/src/wab/client/components/modals/codeComponentModals.tsx
Due: check-instanceof-model, eslint

feat(on-prem): move admin emails to env var in production
  platform/wab/src/wab/server/config.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts
  platform/wab/src/wab/server/routes/util.ts
  platform/wab/src/wab/server/test/backend-util.ts
Due: check-instanceof-model, eslint, check-plume-version

fix(component): use displayName for sorting code components and correctly check for folder in displayName
  platform/live-frame/yarn.lock
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/folders/folders-util.spec.ts
  platform/wab/src/wab/client/components/sidebar/folders/folders-util.ts
  platform/wab/src/wab/shared/core/components.ts
Due: check-instanceof-model, eslint

fix(interaction-variants): Check types at runtime for interaction variants
  platform/wab/src/wab/shared/code-components/code-components.ts
Due: check-instanceof-model, eslint

fix(config): do not require admin emails to avoid error on different servers other than the main app
  platform/wab/src/wab/server/config.ts
Due: check-instanceof-model, eslint

chore(ssr-warning): wrap in SSRProvider for React<18 only
  packages/react-web/src/render/ssr.tsx
Due: none

Publish
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

feat(auto-open): Add auto-open mode for Studio
  packages/host/src/canvas-host.tsx
  packages/host/src/exports.ts
  packages/loader-react/src/loader-server.tsx
  platform/wab/src/wab/client/components/canvas/CanvasFrame/CanvasFrame.tsx
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/client/components/top-bar/ViewButton.tsx
  platform/wab/src/wab/client/components/tpl-menu.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
  platform/wab/src/wab/shared/core/slots.ts
  platform/wab/src/wab/shared/core/tpls.spec.ts
  platform/wab/src/wab/shared/core/tpls.ts
  platform/wab/src/wab/shared/devflags.ts
Due: check-instanceof-model, eslint

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/host-test/package.json
  platform/host-test/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/sub/package.json
  platform/sub/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix(codegen): only infix css variable name if target is loader
  platform/wab/src/wab/shared/codegen/react-p/index.ts
Due: check-instanceof-model, eslint

feat(custom-prop): add studioOps to custom prop editors
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentActionsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/CustomPropEditor.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/PropValueEditor.tsx
Due: check-instanceof-model, eslint

feat(custom-editor): add ProjectData interface to pass data from the project to the custom editors
  packages/host/src/exports.ts
  packages/host/src/prop-types.ts
  packages/host/src/registerComponent.ts
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentActionsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/CustomPropEditor.tsx
Due: check-instanceof-model, eslint

defaultSelectedKeys for atnd Menu component
  plasmicpkgs/antd5/src/registerMenu.tsx
Due: none

fix: legacy feature tiers seat computation
  platform/wab/src/wab/server/db/DbInit.ts
  platform/wab/src/wab/server/db/seed/feature-tier.ts
Due: check-instanceof-model, eslint

chore: refactor billing and make sure UI matches
  platform/wab/src/wab/client/components/dashboard/Bill.tsx
  platform/wab/src/wab/client/components/dashboard/TeamBilling.tsx
  platform/wab/src/wab/client/components/pricing/PriceTierPicker.tsx
  platform/wab/src/wab/server/db/seed/feature-tier.ts
  platform/wab/src/wab/shared/ApiSchema.ts
  platform/wab/src/wab/shared/billing/billing-util.spec.ts
  platform/wab/src/wab/shared/billing/billing-util.ts
  platform/wab/src/wab/shared/devflags.ts
Due: check-instanceof-model, eslint

fix(rac): Miscellaneous
  plasmicpkgs/react-aria/src/common.ts
  plasmicpkgs/react-aria/src/contexts.tsx
  plasmicpkgs/react-aria/src/registerButton.tsx
  plasmicpkgs/react-aria/src/registerCheckbox.tsx
  plasmicpkgs/react-aria/src/registerCheckboxGroup.tsx
  plasmicpkgs/react-aria/src/registerInput.tsx
  plasmicpkgs/react-aria/src/registerListBox.tsx
  plasmicpkgs/react-aria/src/registerModal.tsx
  plasmicpkgs/react-aria/src/registerPopover.tsx
  plasmicpkgs/react-aria/src/registerRadio.tsx
  plasmicpkgs/react-aria/src/registerRadioGroup.tsx
  plasmicpkgs/react-aria/src/registerSlider.tsx
  plasmicpkgs/react-aria/src/registerSliderThumb.tsx
  plasmicpkgs/react-aria/src/registerSwitch.tsx
  plasmicpkgs/react-aria/src/registerTextArea.tsx
  plasmicpkgs/react-aria/src/registerTextField.tsx
  plasmicpkgs/react-aria/src/utils.ts
Due: none

fix(Antd): defaultSelectedKeys for Antd Menu component
  plasmicpkgs/antd5/src/registerMenu.tsx
Due: none

Publish
  plasmicpkgs/antd5/package.json
Due: none

feat(custom-prop): add ProjectData to custom prop/actions
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentActionsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/CustomPropEditor.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
Due: check-instanceof-model, eslint

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix(react-slick): Patch react-slick to avoid speed change when scrolling up and down on mobile
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/patches/react-slick+0.28.1.patch
  platform/loader-bundle-env/yarn.lock
  pnpm-workspace.yaml
Due: none

fix(click-focusable-scrollers): Ignore specific focusable scrollers
  platform/wab/cypress/e2e/left-panel.spec.ts
  platform/wab/cypress/support/commands.ts
  platform/wab/cypress/tsconfig.json
  platform/wab/package.json
  platform/wab/src/wab/client/components/studio/view-editor.tsx
  platform/wab/yarn.lock
Due: check-instanceof-model, eslint

fix(plasmic-rich-components): unable to publish project with rich table
  plasmicpkgs/plasmic-rich-components/src/rich-table/RichTable.tsx
Due: none

Publish
  plasmicpkgs/plasmic-rich-components/package.json
Due: none
