Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

check-instanceof-model:
  name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
  language: system

check-weakrefs:
  name: Check new weak refs in the project and warn about files that might need to be updated
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
  language: system

eslint:
  name: Lint ts/tsx files with eslint
  entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
  language: system

check-plume-version:
  name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
  entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
  language: system

check-bundle-migrations:
  name: Update list of bundle migrations and check migration numbers
  entry: platform/wab/tools/bundle-migration-check.sh
  language: system

chore: improve some insertable typing
  platform/wab/src/wab/client/components/pages/admin/AdminPage.tsx
  platform/wab/src/wab/server/db/DbInit.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/pkg-mgr/index.ts
  platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts
  platform/wab/src/wab/shared/constants.ts
  platform/wab/src/wab/shared/devflags.ts
  platform/wab/src/wab/shared/insertables.ts
Due: check-instanceof-model, eslint, check-plume-version

feat(perms): cascade parent team permission down to sub teams/workspaces/projects
  platform/wab/src/wab/client/components/dashboard/WorkspaceSection.tsx
  platform/wab/src/wab/client/components/root-view.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/appctx.ts
  platform/wab/src/wab/server/routes/projects.ts
  platform/wab/src/wab/shared/ApiSchema.ts
  platform/wab/src/wab/shared/SharedApi.ts
  platform/wab/src/wab/shared/perms.ts
Due: check-instanceof-model, eslint

fix: add script to remove duplicated components and also add a component name check in site invariants
  platform/wab/src/wab/server/db/DbCustomScripts.ts
  platform/wab/src/wab/server/db/custom-scripts/fix-duplicated-components.ts
  platform/wab/src/wab/shared/core/components.ts
  platform/wab/src/wab/shared/site-invariants.ts
Due: check-instanceof-model, eslint

fix: disable duplicated component site invariant
  platform/wab/src/wab/shared/site-invariants.ts
Due: check-instanceof-model, eslint

fix(error): handle error normalization when type is object
  platform/wab/src/wab/client/ErrorNotifications.tsx
Due: check-instanceof-model, eslint

fix(wab): trapsFocus in code component meta does nothing
  platform/wab/src/wab/shared/code-components/code-components.ts
Due: check-instanceof-model, eslint

fix(rac): Check trapsFocus for all components
  plasmicpkgs/react-aria/src/registerButton.tsx
  plasmicpkgs/react-aria/src/registerCheckbox.tsx
  plasmicpkgs/react-aria/src/registerCheckboxGroup.tsx
  plasmicpkgs/react-aria/src/registerComboBox.tsx
  plasmicpkgs/react-aria/src/registerDialogTrigger.tsx
  plasmicpkgs/react-aria/src/registerForm.tsx
  plasmicpkgs/react-aria/src/registerInput.tsx
  plasmicpkgs/react-aria/src/registerLabel.tsx
  plasmicpkgs/react-aria/src/registerListBoxItem.tsx
  plasmicpkgs/react-aria/src/registerModal.tsx
  plasmicpkgs/react-aria/src/registerPopover.tsx
  plasmicpkgs/react-aria/src/registerRadio.tsx
  plasmicpkgs/react-aria/src/registerRadioGroup.tsx
  plasmicpkgs/react-aria/src/registerSection.tsx
  plasmicpkgs/react-aria/src/registerSelect.tsx
  plasmicpkgs/react-aria/src/registerSliderOutput.tsx
  plasmicpkgs/react-aria/src/registerSliderThumb.tsx
  plasmicpkgs/react-aria/src/registerSliderTrack.tsx
  plasmicpkgs/react-aria/src/registerSwitch.tsx
  plasmicpkgs/react-aria/src/registerText.tsx
  plasmicpkgs/react-aria/src/registerTextArea.tsx
  plasmicpkgs/react-aria/src/registerTextField.tsx
  plasmicpkgs/react-aria/src/registerTooltip.tsx
Due: none

Publish
  plasmicpkgs/react-aria/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

chore(globalHook): Break down globalHook into smaller files
  platform/wab/src/wab/client/react-global-hook/code-components.ts
  platform/wab/src/wab/client/react-global-hook/globalHook.ts
  platform/wab/src/wab/client/react-global-hook/types.ts
  platform/wab/src/wab/client/react-global-hook/utils.ts
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
Due: check-instanceof-model, eslint

refactor(cc-variants): Rename updateVariant in RAC
  plasmicpkgs/react-aria/src/registerButton.tsx
  plasmicpkgs/react-aria/src/registerCheckbox.tsx
  plasmicpkgs/react-aria/src/registerCheckboxGroup.tsx
  plasmicpkgs/react-aria/src/registerInput.tsx
  plasmicpkgs/react-aria/src/registerListBoxItem.tsx
  plasmicpkgs/react-aria/src/registerRadio.tsx
  plasmicpkgs/react-aria/src/registerRadioGroup.tsx
  plasmicpkgs/react-aria/src/registerSlider.tsx
  plasmicpkgs/react-aria/src/registerSliderOutput.tsx
  plasmicpkgs/react-aria/src/registerSliderThumb.tsx
  plasmicpkgs/react-aria/src/registerSliderTrack.tsx
  plasmicpkgs/react-aria/src/registerSwitch.tsx
  plasmicpkgs/react-aria/src/registerTextArea.tsx
  plasmicpkgs/react-aria/src/registerTextField.tsx
  plasmicpkgs/react-aria/src/variant-utils.tsx
Due: none

refactor(cc-variants): Pass the renamed plasmicUpdateVariant prop from wab
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
Due: check-instanceof-model, eslint

fix(rac): Initial Selected keys prop on listbox has undefined options
  plasmicpkgs/react-aria/src/ListBoxItemIdManager.ts
  plasmicpkgs/react-aria/src/registerListBoxItem.tsx
Due: none

fix(antd5): upload preview
  plasmicpkgs/antd5/src/registerUpload.tsx
Due: none

Publish
  plasmicpkgs/antd5/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix(rac): DisabledKeys prop of Aria Select/Combobox does not work
  plasmicpkgs/react-aria/src/registerComboBox.tsx
  plasmicpkgs/react-aria/src/registerSelect.tsx
Due: none

refactor(rac): infer types where possible
  plasmicpkgs/react-aria/src/registerButton.tsx
  plasmicpkgs/react-aria/src/registerComboBox.tsx
  plasmicpkgs/react-aria/src/registerPopover.tsx
  plasmicpkgs/react-aria/src/registerSelect.tsx
  plasmicpkgs/react-aria/src/registerSliderThumb.tsx
Due: none

fix(branching): Properly check previousOrder to choose finalOrder of component children
  platform/wab/src/wab/shared/site-diffs/__tests__/merge.spec.ts
  platform/wab/src/wab/shared/site-diffs/merge-components.ts
Due: check-instanceof-model, eslint

fix(radix-ui): remove hydration warning from Dialog for not using ref prop
  plasmicpkgs/radix-ui/src/dialog.tsx
Due: none

fix(auth): make user and token stable to avoid hydration errors
  packages/auth-react/api/index.api.md
  packages/auth-react/src/hooks.ts
Due: none

feat(loader-core): add flag to tracker
  packages/loader-core/src/tracker/index.ts
  packages/loader-react/src/loader-client.ts
Due: none

refactor(menu): avoid duplicated keys in menu divider
  platform/wab/src/wab/client/components/menu-builder.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/ProjectPanelTop.tsx
  platform/wab/src/wab/client/components/sidebar/FindReferencesModal.tsx
  platform/wab/src/wab/client/components/top-bar/PublishButton.tsx
Due: check-instanceof-model, eslint

fix(duplicated-components): stop counting sub components as possible duplications.
  platform/wab/src/wab/server/db/custom-scripts/fix-duplicated-components.ts
  platform/wab/src/wab/shared/site-invariants.ts
Due: check-instanceof-model, eslint

Publish
  packages/auth-react/package.json
  packages/loader-core/package.json
  packages/loader-gatsby/package.json
  packages/loader-nextjs/package.json
  packages/loader-react/package.json
  packages/loader-svelte/package.json
  packages/loader-vue/package.json
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
  plasmicpkgs/radix-ui/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

feat: Add new inline tags support such as strong, italic and emphasis
  platform/wab/src/wab/client/components/canvas/CanvasText.ts
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/HTMLAttributesSection.tsx
  platform/wab/src/wab/client/components/sidebar/DefaultStylesPanel.tsx
  platform/wab/src/wab/shared/core/rich-text-util.ts
  platform/wab/src/wab/shared/core/styles.ts
Due: check-instanceof-model, eslint

Fix(cla.yaml): Added condition to only run in public repo (#9)
  .github/workflows/cla.yaml
Due: none

fix(states): Fix cycle not found error
  packages/react-web/src/states/valtio.tsx
Due: none

Publish
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

Merge pull request #18 from plasmicapp/PLA-11233
  plasmicpkgs/react-aria/src/registerComboBox.tsx
  plasmicpkgs/react-aria/src/registerInput.tsx
Due: none

Path conditions:
  check-instanceof-model: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-weakrefs: any of: ^platform/wab/src/wab/model/model-schema.ts$
  eslint: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-plume-version: any of: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
  check-bundle-migrations: any of: ^platform/wab/src/wab/server/bundle-migrations/.*$
