Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check-instanceof-model
        name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
        files: ^platform/wab/src/.*\.(ts|tsx)$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
        language: system
  - repo: local
    hooks:
      - id: check-weakrefs
        name: Check new weak refs in the project and warn about files that might need to be updated
        files: ^platform/wab/src/wab/model/model-schema.ts$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
        language: system
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on code written by humans
        files: ^.*\.(js|jsx|cjs|mjs|ts|tsx|cts|mts|json|css|scss|md|toml|xml)$
        exclude: (^.*/(plasmic|deps|static|\.yalc)/.*$)|(^loader-tests/data/.*\.json$)|(examples/hydrogen-.*)|(api/.*\.md$)
        entry: env NODE_OPTIONS=--max-old-space-size=4096 prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@2.8.8
          - prettier-plugin-organize-imports@3.2.2
          - typescript@4.7.4
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on Plasmic-generated files
        files: ^.*/plasmic/.*\.(js|jsx|ts|tsx|json|css|scss|md|toml|xml)$
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check merge conflicts
      - id: trailing-whitespace
        name: Check trailing whitespaces
        exclude: ^.*/__snapshots__/.*$
  - repo: local
    hooks:
      - id: eslint
        name: Lint ts/tsx files with eslint
        files: ^platform/wab/src/.*\.(ts|tsx)$
        types: [file]
        entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
        language: system
  # From public-packages
  #  - repo: https://github.com/pre-commit/mirrors-eslint
  #    rev: v8.44.0
  #    hooks:
  #      - id: eslint
  #        types: [file]
  #        files: ^.*\.(ts|tsx)$
  #        exclude: ^.*/plasmic/.*$
  #        additional_dependencies:
  #          - "@typescript-eslint/eslint-plugin@5.62.0"
  #          - "@typescript-eslint/parser@5.62.0"
  #          - "eslint@8.44.0"
  #          - "eslint-config-prettier@8.8.0"
  #          - "eslint-config-react-app@7.0.1"
  #          - "eslint-plugin-prettier@4.2.1"
  - repo: local
    hooks:
      - id: check-plume-version
        name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
        files: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
        entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
        language: system
  - repo: local
    hooks:
      - id: check-bundle-migrations
        name: Update list of bundle migrations and check migration numbers
        files: ^platform/wab/src/wab/server/bundle-migrations/.*$
        entry: platform/wab/tools/bundle-migration-check.sh
        language: system
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfiles
        args: [--failure-threshold=warning]

[DEVOP-541]: Fix alerts chart (#3331)
  platform/wab/src/wab/server/AppServer.ts
Due: check-instanceof-model, eslint

[wab] add docs/ directory with an icons guide (#3237)
  platform/wab/README.md
  platform/wab/docs/ICONS.md
Due: none

Upgrade wab prettier (#3316)
  .prettierignore
  .prettierrc
  platform/pnpm-lock.yaml
  platform/wab/package.json
  platform/wab/playwright/e2e/auth.spec.ts
  platform/wab/playwright/models/auth-page.ts
  platform/wab/playwright/playwright.config.ts
  platform/wab/rsbuild.config.ts
  platform/wab/src/wab/client/components/docs/CodePreviewSnippet.tsx
  platform/wab/src/wab/client/components/docs/DocsPortalCtx.test.ts
  platform/wab/src/wab/client/components/docs/DocsPortalCtx.tsx
  platform/wab/src/wab/client/components/docs/DocsPortalEditor.tsx
  platform/wab/src/wab/client/components/docs/serialize-docs-preview.ts
  platform/wab/src/wab/client/components/sidebar-tabs/PropValueEditor.stories.tsx
  platform/wab/src/wab/client/components/studio/code-preview/CodePreviewPanel.tsx
  platform/wab/src/wab/server/routes/projects.ts
  platform/wab/src/wab/server/scripts/dev-bundle-migrator.test.ts
  platform/wab/src/wab/server/scripts/upgrade-stale-bundle.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-instanceof-model, eslint

[platform] add minimumReleaseAge and exclude Plasmic packages (#3317)
  platform/host-test/pnpm-workspace.yaml
  platform/pnpm-workspace.yaml
  platform/react-web-bundle/pnpm-workspace.yaml
  platform/sub/pnpm-workspace.yaml
Due: none

Preserve normal flow when inserting into list items (#3320)
  platform/wab/src/wab/client/Dnd.test.ts
  platform/wab/src/wab/client/Dnd.tsx
  platform/wab/src/wab/client/operations/insert-tpl.test.ts
  platform/wab/src/wab/client/operations/insert-tpl.ts
Due: check-instanceof-model, eslint

[DEVOP-536]: Update library s3 from v2 to v3 (#3270)
  platform/pnpm-lock.yaml
  platform/pnpm-workspace.yaml
  platform/wab/package.json
  platform/wab/src/wab/server/bundle-migrations/22-add-aspect-ratio.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/loader/gen-code-bundle.test.ts
  platform/wab/src/wab/server/routes/loader.ts
  platform/wab/src/wab/server/routes/misc.ts
  platform/wab/src/wab/server/util/s3-util.test.ts
  platform/wab/src/wab/server/util/s3-util.ts
  platform/wab/src/wab/server/workers/codegen.ts
  platform/wab/src/wab/shared/data-urls.ts
Due: check-instanceof-model, eslint, check-bundle-migrations

Publish
  packages/cli/package.json
  packages/create-plasmic-app/package.json
Due: none

Hosting publish invalidation and followup fixes (#3308)
  platform/wab/src/wab/server/routes/util.test.ts
  platform/wab/src/wab/server/routes/util.ts
Due: check-instanceof-model, eslint

upgrade-internal
  platform/pnpm-lock.yaml
  platform/wab/package.json
Due: none

[Copilot]: Upsell paid plan to Plasmic AI Chat users (#3341)
  platform/wab/src/wab/client/components/FreeTrial.tsx
  platform/wab/src/wab/client/components/TopFrame/TopFrameChrome.tsx
  platform/wab/src/wab/client/components/copilot/CopilotChatDialog.tsx
  platform/wab/src/wab/client/components/dashboard/DefaultTeamLayout.tsx
  platform/wab/src/wab/client/components/modals/PricingModal.tsx
  platform/wab/src/wab/client/components/modals/project-upsell.test.ts
  platform/wab/src/wab/client/components/modals/project-upsell.ts
Due: check-instanceof-model, eslint

Revert paid roles when free trials expire (#3321)
  platform/wab/src/wab/server/db/DbMgr.spec.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/team-plans.test.ts
Due: check-instanceof-model, eslint

Publish
  plasmicpkgs-dev/package.json
  plasmicpkgs/commerce-providers/commerce/package.json
  plasmicpkgs/commerce-providers/commercetools/package.json
  plasmicpkgs/commerce-providers/local/package.json
  plasmicpkgs/commerce-providers/saleor/package.json
  plasmicpkgs/commerce-providers/shopify/package.json
  plasmicpkgs/commerce-providers/swell/package.json
  plasmicpkgs/react-parallax-tilt/package.json
  plasmicpkgs/rive/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/loader-bundle-env/package.json
  platform/pnpm-lock.yaml
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/loader-bundle-env/package.json
  platform/pnpm-lock.yaml
  platform/wab/package.json
Due: none

Publish
  plasmicpkgs/commerce-providers/saleor/package.json
  plasmicpkgs/commerce-providers/swell/package.json
  plasmicpkgs/react-slick/package.json
Due: none

[PLA-1331] Imported project update silently fails with GlobalVariant error (#3367)
  platform/wab/src/wab/shared/core/project-deps.test.ts
  platform/wab/src/wab/shared/core/project-deps.ts
Due: check-instanceof-model, eslint

Data token copilot support (#3344)
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/client/components/sidebar/DataTokenEditModal.tsx
  platform/wab/src/wab/commons/DataToken.ts
  platform/wab/src/wab/shared/copilot/utils.ts
  platform/wab/src/wab/shared/web-exporter/data-context-exporter.test.ts
  platform/wab/src/wab/shared/web-exporter/data-context-exporter.ts
  platform/wab/src/wab/shared/web-exporter/project-exporter.ts
  platform/wab/src/wab/shared/web-exporter/schema.ts
Due: check-instanceof-model, eslint

[wab]: Add Label for value/label columns of Choice/Multi-choice props allowed values (#3370)
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/ArrayPrimitiveEditor.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/StringPropEditor.test.ts
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/StringPropEditor.tsx
  platform/wab/src/wab/shared/model/prop-type-config.ts
  platform/wab/src/wab/styles/_mixins.sass
  platform/wab/src/wab/styles/_vars.sass
  platform/wab/src/wab/styles/main.sass
Due: check-instanceof-model, eslint

fix(copilot): cache image previews while typing (#3373)
  platform/wab/src/wab/client/components/copilot/CopilotPromptDialog.tsx
  platform/wab/src/wab/client/components/copilot/CopilotPromptImage.test.tsx
  platform/wab/src/wab/client/components/copilot/CopilotPromptImage.tsx
Due: check-instanceof-model, eslint

upgrade-internal
  platform/pnpm-lock.yaml
Due: none

Copilot arena switch (#3351)
  ai/skills/plasmic-designer/SKILL.md
  platform/wab/src/wab/client/components/canvas/view-ops.tsx
  platform/wab/src/wab/client/components/studio/TopFrameObserver.tsx
  platform/wab/src/wab/client/frame-ctx/host-frame-api.ts
  platform/wab/src/wab/client/messages/parenting-msgs.tsx
  platform/wab/src/wab/client/operations/html-to-tpl.ts
  platform/wab/src/wab/client/operations/insert-tpl.ts
  platform/wab/src/wab/client/operations/set-component-instance-prop.ts
  platform/wab/src/wab/client/web-importer/WebImporter.tsx
  platform/wab/src/wab/client/web-importer/errors.ts
  platform/wab/src/wab/shared/ApiSchema.ts
  platform/wab/src/wab/shared/Arenas.test.ts
  platform/wab/src/wab/shared/Arenas.ts
  platform/wab/src/wab/shared/TplMgr.ts
  platform/wab/src/wab/shared/copilot/dynamic-value-input.test.ts
  platform/wab/src/wab/shared/copilot/dynamic-value-input.ts
  platform/wab/src/wab/shared/copilot/prompt-utils.ts
  platform/wab/src/wab/shared/copilot/utils.ts
Due: check-instanceof-model, eslint

fix(studio): ignore code formatting in the expressions search
  platform/wab/src/wab/client/components/sidebar/LeftExprsSearchPanel.tsx
  platform/wab/src/wab/client/components/view-common.test.ts
  platform/wab/src/wab/client/components/view-common.tsx
Due: check-instanceof-model, eslint

fix: only sync what stripe stores in team update (#3389)
  platform/wab/src/wab/server/routes/teams.ts
Due: check-instanceof-model, eslint

[DEVOP-532]: Upgrade Sentry with request isolation (#3352)
  platform/pnpm-lock.yaml
  platform/wab/package.json
  platform/wab/src/wab/server/AppServer.ts
  platform/wab/src/wab/server/app-backend-real.ts
  platform/wab/src/wab/server/codegen-backend.ts
  platform/wab/src/wab/server/config.ts
  platform/wab/src/wab/server/integrations-backend.ts
  platform/wab/src/wab/server/main.ts
  platform/wab/src/wab/server/sentry.test.ts
  platform/wab/src/wab/server/sentry.ts
  platform/wab/src/wab/shared/core/components.test.ts
  platform/wab/src/wab/shared/site-invariants.ts
  platform/wab/tools/webpack/sharedRsbuildConfig.ts
Due: check-instanceof-model, eslint

Detect custom fonts declared by canvas hosts (#3375)
  platform/wab/src/wab/client/components/canvas/CanvasFrame/CanvasFrame.tsx
  platform/wab/src/wab/client/components/sidebar/UserManagedFonts.test.tsx
  platform/wab/src/wab/client/fonts.ts
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/strs.ts
Due: check-instanceof-model, eslint

Preserve conditional prop editors for hidden components (#3322)
  platform/wab/src/wab/client/studio-ctx/view-ctx.test.ts
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
Due: check-instanceof-model, eslint
