Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

check-instanceof-model:
  name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
  language: system

check-weakrefs:
  name: Check new weak refs in the project and warn about files that might need to be updated
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
  language: system

eslint:
  name: Lint ts/tsx files with eslint
  entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
  language: system

check-plume-version:
  name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
  entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
  language: system

check-bundle-migrations:
  name: Update list of bundle migrations and check migration numbers
  entry: platform/wab/tools/bundle-migration-check.sh
  language: system

[localization] also check fallback expr for localization keys
  platform/wab/src/wab/shared/localization.tsx
Due: check-instanceof-model, eslint

[fix] provide SidebarModalContext in RichtextToolbar to avoid studio crash
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
  platform/wab/src/wab/client/components/sidebar/SidebarModal.tsx
Due: check-instanceof-model, eslint

feat: add install script
  install.bash
Due: none

[loader-nextjs] fix dynamic require warning
  packages/loader-nextjs/src/index.tsx
  packages/loader-nextjs/src/mocks.tsx
  packages/loader-nextjs/src/server-require.ts
Due: none

[repetition] sync repeated element name in canvas and codegen to avoid different variable names
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/components.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
Due: check-instanceof-model, eslint

Publish
  packages/loader-nextjs/package.json
Due: none

[ui-config] database migration to add UiConfig at project level
  platform/wab/src/wab/server/entities/Entities.ts
  platform/wab/src/wab/server/migrations/1716819274756-AddProjectUiConfig.ts
Due: check-instanceof-model, eslint

[loader] Warn deprecated usage
  platform/wab/src/wab/server/loader/module-bundler.ts
  platform/wab/src/wab/shared/ApiErrors/errors.ts
Due: check-instanceof-model, eslint

[copy-paste] Handle CompositeExpr and plume sub components
  platform/wab/src/wab/components.ts
  platform/wab/src/wab/shared/insertable-templates/component-importer.ts
  platform/wab/src/wab/shared/insertable-templates/fixers.ts
Due: check-instanceof-model, eslint

[preamble] fixes scripts that add preamble to avoid race condition with globalHooks
  platform/sub/public/static/host.html
  platform/wab/public/index.html
  platform/wab/tools/studio-html-plugin.ts
Due: none

Revert "[preamble] fixes scripts that add preamble to avoid race condition with globalHooks"
  platform/sub/public/static/host.html
  platform/wab/public/index.html
  platform/wab/tools/studio-html-plugin.ts
Due: none

[cc] Fix duplicated items in custom sections
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/studio/add-drawer/AddDrawer.tsx
Due: check-instanceof-model, eslint

[scripts] Inline preamble.js to avoid race condition
  platform/sub/public/static/host.html
  platform/wab/public/index.html
  platform/wab/public/static/js/preamble.js
Due: none

[fix] Token should not be de-reffed if the ref is known
  platform/wab/src/wab/client/insertable-templates.ts
  platform/wab/src/wab/commons/StyleToken.ts
  platform/wab/src/wab/server/pkg-mgr/index.ts
  platform/wab/src/wab/shared/insertable-templates/fixers.ts
Due: check-instanceof-model, eslint, check-plume-version

[observables] only try to observe tplTree of already observed components. This will avoid issues where you're modifying a component before attaching it to the site
  platform/wab/src/wab/observable-model.ts
Due: check-instanceof-model, eslint

[figma] Transform names with / for instance swaps
  platform/wab/src/wab/client/figma.ts
Due: check-instanceof-model, eslint

[copy-paste] Fix VariantsRef not being "pasted"
  platform/wab/src/wab/shared/insertable-templates/fixers.ts
Due: check-instanceof-model, eslint

[RAC] cloned projects should also use plexus
  platform/wab/src/wab/server/constants.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/projects.ts
Due: check-instanceof-model, eslint

maybeDerefToken adjustment
  platform/wab/src/wab/commons/StyleToken.ts
Due: check-instanceof-model, eslint

[headless] Tooltip (React Aria)
  plasmicpkgs/react-aria/package.json
  plasmicpkgs/react-aria/src/index.tsx
  plasmicpkgs/react-aria/src/registerTooltip.tsx
  yarn.lock
Due: none

Publish
  plasmicpkgs/react-aria/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

[exprs] maybe wrap TemplatedString in IIFE for easier experience for users
  platform/wab/src/wab/__tests__/exprs-spec.ts
  platform/wab/src/wab/exprs.spec.ts
  platform/wab/src/wab/exprs.tsx
  platform/wab/src/wab/shared/codegen/codegen-tests-util.ts
  platform/wab/src/wab/shared/data-sources-meta/data-sources.spec.ts
  platform/wab/src/wab/shared/data-sources-meta/data-sources.ts
Due: check-instanceof-model, eslint

[live] correctly check parent styles when inside TplSlots to calculate correct margin when parent has fake row-gap/row-column set
  platform/wab/src/wab/shared/codegen/codegen-helpers.ts
  platform/wab/src/wab/shared/sizingutils.ts
  platform/wab/src/wab/styles.tsx
Due: check-instanceof-model, eslint

[security] remove env variables from build
  platform/wab/rsbuild.config.ts
Due: none

[interaction-variant] Change schema of interaction variant
  platform/wab/src/wab/components.ts
  platform/wab/src/wab/model/model-schema.ts
  platform/wab/src/wab/shared/code-components/code-components.ts
  platform/wab/src/wab/shared/site-diffs/model-conflicts-meta.ts
Due: check-instanceof-model, check-weakrefs, eslint

[exprs] keep fallback value when templated string has only a single chip
  platform/wab/src/wab/exprs.spec.ts
  platform/wab/src/wab/exprs.tsx
Due: check-instanceof-model, eslint

[cc-interactions] Add interaction variant to wab
  platform/wab/src/wab/client/components/VariantControls.tsx
  platform/wab/src/wab/client/components/sidebar/RuleSetControls.tsx
  platform/wab/src/wab/client/components/studio/arenas/ComponentArenaLayout.tsx
  platform/wab/src/wab/client/components/variants/VariantsPanel.tsx
  platform/wab/src/wab/components.ts
  platform/wab/src/wab/shared/Variants.ts
  platform/wab/src/wab/shared/code-components/code-components.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
  platform/wab/src/wab/styles.tsx
Due: check-instanceof-model, eslint

[cc-interactions] Handle interactions in canvas rendering
  platform/wab/src/wab/client/components/canvas/canvas-cache.ts
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
Due: check-instanceof-model, eslint

[loader] Conditionally disable root suspense boundary
  packages/loader-core/src/__tests__/bundles.spec.ts
  packages/loader-core/src/bundles.ts
  packages/loader-fetcher/src/api.ts
  packages/loader-react/api/index.api.md
  packages/loader-react/src/PlasmicRootProvider.tsx
  packages/loader-react/src/__tests__/bundles.spec.ts
  packages/loader-react/src/bundles.ts
  packages/loader-react/src/loader-shared.ts
  platform/wab/src/wab/server/loader/module-bundler.ts
Due: check-instanceof-model, eslint

Publish
  packages/loader-core/package.json
  packages/loader-edge/package.json
  packages/loader-fetcher/package.json
  packages/loader-gatsby/package.json
  packages/loader-nextjs/package.json
  packages/loader-react/package.json
  packages/loader-splits/package.json
  packages/loader-svelte/package.json
  packages/loader-vue/package.json
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

[exprs] more improvements to exprs eval. TemplatedString now can have fallback value in canvas
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/exprs.tsx
  platform/wab/src/wab/shared/data-sources-meta/data-sources.spec.ts
  platform/wab/src/wab/shared/data-sources-meta/data-sources.ts
Due: check-instanceof-model, eslint

[ui-config] add UiConfig at project level
  platform/wab/src/wab/client/components/FreeTrial.tsx
  platform/wab/src/wab/client/components/TopFrame/TopFrameChrome.tsx
  platform/wab/src/wab/client/components/dashboard/dashboard-actions.tsx
  platform/wab/src/wab/client/components/modals/ContentEditorConfigModal.tsx
  platform/wab/src/wab/client/components/modals/PricingModal.tsx
  platform/wab/src/wab/client/components/studio/studio-frame.tsx
  platform/wab/src/wab/client/components/top-bar/TopBar.tsx
  platform/wab/src/wab/client/frame-ctx/top-frame-api.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/projects.ts
  platform/wab/src/wab/shared/ApiSchema.ts
  platform/wab/src/wab/shared/SharedApi.ts
  platform/wab/src/wab/shared/ui-config-utils.ts
Due: check-instanceof-model, eslint

[integration-tests] Clean up tests
  platform/integration-tests/Dockerfile
  platform/integration-tests/cypress.json
  platform/integration-tests/cypress/integration/auth.spec.ts
  platform/integration-tests/cypress/plugins/index.ts
  platform/integration-tests/cypress/support/commands.ts
  platform/integration-tests/cypress/support/index.ts
  platform/integration-tests/cypress/tsconfig.json
  platform/integration-tests/package.json
  platform/integration-tests/src/codebases/.plasmic.auth.json
  platform/integration-tests/src/codebases/gatsby/gatsby-config.template.js
  platform/integration-tests/src/codebases/gatsby/index.ts
  platform/integration-tests/src/codebases/gatsby/page-with-loader.template.js
  platform/integration-tests/src/codebases/gatsby/page.template.js
  platform/integration-tests/src/codebases/next/index.ts
  platform/integration-tests/src/codebases/next/next.config.template.js
  platform/integration-tests/src/codebases/next/page-with-loader.template.js
  platform/integration-tests/src/codebases/next/page.template.js
  platform/integration-tests/src/codebases/utils.ts
  platform/integration-tests/src/codebases/vue/app.template.vue
  platform/integration-tests/src/codebases/vue/catch-all.template.js
  platform/integration-tests/src/codebases/vue/index.ts
  platform/integration-tests/src/codebases/vue/main.template.js
  platform/integration-tests/src/codebases/vue/plasmic-init.template.js
  platform/integration-tests/src/create-plasmic-app.spec.ts
  platform/integration-tests/src/fullsync.spec.ts
  platform/integration-tests/src/gatsby.spec.ts
  platform/integration-tests/src/nextjs.spec.ts
  platform/integration-tests/src/vue.spec.ts
  platform/integration-tests/yarn.lock
Due: none

[wab] Refactor clipboard copy/paste
  platform/wab/src/wab/client/ErrorNotifications.tsx
  platform/wab/src/wab/client/WebImporter.tsx
  platform/wab/src/wab/client/api.ts
  platform/wab/src/wab/client/clipboard.ts
  platform/wab/src/wab/client/clipboard/ReadableClipboard.ts
  platform/wab/src/wab/client/clipboard/WritableClipboard.ts
  platform/wab/src/wab/client/clipboard/common.ts
  platform/wab/src/wab/client/clipboard/image.ts
  platform/wab/src/wab/client/clipboard/local.spec.ts
  platform/wab/src/wab/client/clipboard/local.ts
  platform/wab/src/wab/client/clipboard/paste.tsx
  platform/wab/src/wab/client/clipboard/remote.ts
  platform/wab/src/wab/client/clipboard/text.ts
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/client/components/canvas/view-ops.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/tpl-tree.tsx
  platform/wab/src/wab/client/components/studio/view-editor.tsx
  platform/wab/src/wab/client/components/style-controls/ImageSelector.tsx
  platform/wab/src/wab/client/components/tpl-menu.tsx
  platform/wab/src/wab/client/dom-utils.ts
  platform/wab/src/wab/client/figma.tsx
  platform/wab/src/wab/client/init-view-ctx.ts
  platform/wab/src/wab/client/insertable-templates.ts
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/data-urls.ts
Due: check-instanceof-model, eslint

[wab] Make cut also work cross tab
  platform/wab/src/wab/client/components/canvas/view-ops.tsx
  platform/wab/src/wab/client/components/studio/view-editor.tsx
Due: check-instanceof-model, eslint

[wab] Copy root element properly
  platform/wab/src/wab/client/components/canvas/view-ops.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/SizeSection.tsx
  platform/wab/src/wab/shared/TplMgr.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
  platform/wab/src/wab/shared/sizingutils.ts
Due: check-instanceof-model, eslint

Path conditions:
  check-instanceof-model: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-weakrefs: any of: ^platform/wab/src/wab/model/model-schema.ts$
  eslint: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-plume-version: any of: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
  check-bundle-migrations: any of: ^platform/wab/src/wab/server/bundle-migrations/.*$
