Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

check-instanceof-model:
  name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
  language: system

check-weakrefs:
  name: Check new weak refs in the project and warn about files that might need to be updated
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
  language: system

eslint:
  name: Lint ts/tsx files with eslint
  entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
  language: system

check-plume-version:
  name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
  entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
  language: system

check-bundle-migrations:
  name: Update list of bundle migrations and check migration numbers
  entry: platform/wab/tools/bundle-migration-check.sh
  language: system

replace bundler objects with maps (#1438)
  platform/wab/src/wab/client/components/comments/CommentPostFormDialog.tsx
  platform/wab/src/wab/server/bundle-migrations/6-remove-base-types.ts
  platform/wab/src/wab/shared/bundler.spec.ts
  platform/wab/src/wab/shared/bundler.ts
  platform/wab/src/wab/shared/model/model-tree-util.ts
  platform/wab/src/wab/shared/site-diffs/merge-components.ts
  platform/wab/src/wab/shared/site-diffs/merge-core.ts
  platform/wab/src/wab/shared/site-diffs/merge-deps.ts
  platform/wab/src/wab/shared/site-diffs/model-conflicts-meta.ts
Due: check-instanceof-model, eslint, check-bundle-migrations

don't ensure, just type assert (#1443)
  platform/wab/src/wab/shared/bundler.ts
Due: check-instanceof-model, eslint

Fixes/improvements to token overrides (#1411)
  platform/wab/src/wab/client/components/sidebar/ColorTokenControl.tsx
  platform/wab/src/wab/client/components/sidebar/FindReferencesModal.tsx
  platform/wab/src/wab/client/components/sidebar/FontFamilyTokenEditModal.tsx
  platform/wab/src/wab/client/components/sidebar/GeneralTokenEditModal.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/client/components/sidebar/TokenEditModal.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
  platform/wab/src/wab/client/components/widgets/ColorPicker/ColorPicker.tsx
  platform/wab/src/wab/client/components/widgets/DimTokenSelector.tsx
  platform/wab/src/wab/commons/StyleToken.ts
  platform/wab/src/wab/shared/core/sites.ts
  platform/wab/src/wab/shared/insertable-templates/fixers.ts
Due: check-instanceof-model, eslint

fix: unbundle vs unbundlePartial (#1448)
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/server/test/branching-utils.ts
  platform/wab/src/wab/shared/bundler.ts
  platform/wab/src/wab/shared/site-diffs/_tests_/utils.ts
Due: check-instanceof-model, eslint

[PLA-11946] remove jsBundleThemes (#1410)
  examples/custom-targeting-codegen/README.md
  examples/custom-targeting-codegen/components/plasmic-tokens.theo.json
  examples/custom-targeting-codegen/components/plasmic/antd_5_hostless/PlasmicGlobalContextsProvider.tsx
  examples/custom-targeting-codegen/components/plasmic/antd_5_hostless/plasmic_antd_5_hostless.module.css
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicAbout.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicAbtest.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicGlobalContextsProvider.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicGlobalVariant__ButtonType.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicGlobalVariant__Chrome.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicGlobalVariant__GoogleSource.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicGlobalVariant__Screen.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicHomepage.module.css
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicHomepage.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicPageLayout.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/PlasmicSplitsProvider.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/icons/PlasmicIcon__Icon.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/icons/PlasmicIcon__Icon2.tsx
  examples/custom-targeting-codegen/components/plasmic/codegen_custom_targettng/plasmic_codegen_custom_targettng.module.css
  examples/custom-targeting-codegen/components/plasmic/loading_boundary/plasmic_loading_boundary.module.css
  examples/custom-targeting-codegen/components/plasmic/plasmic__default_style.module.css
  examples/custom-targeting-codegen/components/plasmic/plasmic_rich_components/plasmic_plasmic_rich_components.module.css
  examples/custom-targeting-codegen/package.json
  examples/custom-targeting-codegen/plasmic.json
  examples/custom-targeting-codegen/plasmic.lock
  examples/custom-targeting-codegen/yarn.lock
  packages/cli/src/__mocks__/api.ts
  packages/cli/src/actions/sync.ts
  packages/cli/src/api.ts
  packages/cli/src/migrations/0.1.57-ensureJsBundleThemes.ts
  packages/cli/src/migrations/migrations.ts
  packages/cli/src/test-common/fixtures.ts
  packages/cli/src/utils/config-utils.ts
  packages/cli/src/utils/get-context.ts
  platform/wab/plasmic.json
Due: none

Publish
  packages/cli/package.json
Due: none

upgrade-internal
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

[PLA-12377] Anonymous User FE Permission Issue (#1447)
  platform/wab/src/wab/shared/perms.ts
Due: check-instanceof-model, eslint

Replace pre-commit with husky (#1451)
  .lintstagedrc.js
  .prettierrc
  docs/contributing/platform/00-getting-started.md
  first_time_setup.sh
  package.json
  platform/react-renderer/Dockerfile
  platform/wab/.prettierrc
  platform/wab/src/wab/server/db/migrations-list.txt
  platform/wab/tools/first_time_setup.sh
  yarn.lock
Due: none

chore: clean up unused .github workflows (#1452)
  examples/hydrogen-oxygen-with-buildtime-codegen/.github/workflows/oxygen-deployment-1000000628.yml
  examples/plasmicflix/.github/workflows/plasmic.yml
  examples/react-dnd-custom-controls/.github/workflows/plasmic-push.yml
  examples/react-dnd-custom-controls/.github/workflows/plasmic.yml
  examples/react-dnd/.github/workflows/plasmic-push.yml
  examples/react-dnd/.github/workflows/plasmic.yml
  packages/data-sources-context/.github/workflows/main.yml
  packages/data-sources-context/.github/workflows/size.yml
  packages/data-sources/.github/workflows/main.yml
  packages/data-sources/.github/workflows/size.yml
  packages/query/.github/workflows/main.yml
  packages/query/.github/workflows/size.yml
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/host-test/package.json
  platform/host-test/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/sub/package.json
  platform/sub/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

delete pre-commit and related code (#1454)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  platform/wab/requirements-dev.txt
  requirements-dev.txt
Due: none

[PLA-12390] show advanced indicator in component props (#1456)
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentPropsDefinitionSection.tsx
Due: check-instanceof-model, eslint

[PLA-11592] Remove default value editor for linked props (#1450)
  platform/wab/cypress/e2e/component-ops.spec.ts
  platform/wab/cypress/e2e/data-binding.spec.ts
  platform/wab/src/wab/client/components/sidebar-tabs/PropEditorRow.tsx
Due: check-instanceof-model, eslint

[PLA-12339] prompt to replace custom functions removed from the host (#1409)
  platform/wab/src/wab/client/code-components/code-components.tsx
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/modals/codeComponentModals.tsx
  platform/wab/src/wab/client/components/modals/customFunctionModals.tsx
  platform/wab/src/wab/shared/cached-selectors.ts
  platform/wab/src/wab/shared/code-components/code-components.ts
  platform/wab/src/wab/shared/core/custom-functions.ts
  platform/wab/src/wab/shared/eval/expression-parser.ts
  platform/wab/src/wab/shared/refactoring.ts
Due: check-instanceof-model, eslint

chore(posthog): update posthog version (#1446)
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix: customViteReactPlugin and missing peer dep (#1424)
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/package.json
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/plasmic.json
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/src/components/plasmic/create_plasmic_app/PlasmicButton.tsx
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/src/components/plasmic/create_plasmic_app/PlasmicDynamicPage.tsx
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/src/components/plasmic/create_plasmic_app/PlasmicHomepage.tsx
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/src/router.tsx
  packages/create-plasmic-app/cpa-out/tanstack-codegen-ts/vite.config.ts
  packages/create-plasmic-app/src/tanstack/tanstack.ts
  packages/create-plasmic-app/src/tanstack/templates/file-router/config.ts
Due: none

Publish
  packages/create-plasmic-app/package.json
Due: none

chore: migrate dev bundles (#1471)
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/code-component-meta-add-refActions.migrated.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/code-component-variants.migrated.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/duplicate-variants.migrated.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/flex-gap-bundle.migrated.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/merge-duplicate-variants.migrated.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/plume-default-components.migrated.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/style-variants.migrated.json
Due: none

Refactor client env vars (#1468)
  package.json
  platform/wab/.env.example
  platform/wab/jest.config.ts
  platform/wab/package.json
  platform/wab/rsbuild.config.ts
  platform/wab/src/wab/client/components/Shell.tsx
  platform/wab/src/wab/client/components/canvas/canvas-ctx.ts
  platform/wab/src/wab/client/components/modals/PricingModal.tsx
  platform/wab/src/wab/client/components/modals/UpdateCreditCardModal.tsx
  platform/wab/src/wab/client/components/studio/LeftTabStrip.tsx
  platform/wab/src/wab/client/components/studio/studio-bundles.ts
  platform/wab/src/wab/client/deps-client.ts
  platform/wab/src/wab/client/env.ts
  platform/wab/src/wab/client/frame-ctx/plasmic-studio-args.ts
  platform/wab/src/wab/client/intercom.tsx
  platform/wab/src/wab/client/observability/posthog-browser.ts
  platform/wab/src/wab/client/stripe.ts
  platform/wab/src/wab/client/test/initTests.js
  platform/wab/src/wab/server/db/AssertSiteInvariants.ts
  platform/wab/src/wab/server/db/DbInit.ts
  platform/wab/src/wab/server/db/DbProjectUtils.ts
  platform/wab/src/wab/server/db/Migrator.ts
  platform/wab/src/wab/server/server-common.ts
  platform/wab/src/wab/server/svr-init.ts
  platform/wab/src/wab/shared/DeploymentFlags.ts
  platform/wab/tools/webpack/StudioHtmlPlugin.ts
  platform/wab/tools/webpack/mkDefinePluginOptsForEnv.test.ts
  platform/wab/tools/webpack/mkDefinePluginOptsForEnv.ts
  platform/wab/tsconfig.json
  platform/wab/yarn.lock
Due: check-instanceof-model, eslint

Select owner role
  platform/wab/src/wab/client/components/dashboard/TeamMemberListItem.tsx
  platform/wab/src/wab/client/components/dashboard/TeamSettings.tsx
  platform/wab/src/wab/client/components/widgets/plasmic/PermissionItem.tsx
  platform/wab/src/wab/client/components/widgets/plasmic/PlasmicPermissionItem.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_dashboard/PlasmicTeamMemberListItem.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/shared/EntUtil.ts
Due: check-instanceof-model, eslint

fix(custom-function): add .change() when updating custom function meta (#1473)
  platform/wab/src/wab/shared/code-components/code-components.ts
Due: check-instanceof-model, eslint

[PLA-12391]: Not able to re-prompt in copilot without applying the suggestions first (#1464)
  platform/wab/src/wab/client/components/copilot/CopilotPromptDialog.tsx
  platform/wab/src/wab/client/components/copilot/useCopilot.tsx
Due: check-instanceof-model, eslint

[PLA-12398]: Enable UI Copilot for Paid Teams (#1467)
  platform/wab/src/wab/client/components/TopFrame/TopBar/PlasmicHostingSettings.tsx
  platform/wab/src/wab/client/components/top-bar/TopBar.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
Due: check-instanceof-model, eslint

[PLA-11998] custom domain error card bug (#1465)
  platform/wab/src/wab/client/components/TopFrame/TopBar/DomainCard.tsx
  platform/wab/src/wab/client/components/TopFrame/TopBar/PlasmicHostingSettings.tsx
Due: check-instanceof-model, eslint

[PLA-10509] check window/globalThis code usage (#1472)
  platform/live-frame/yarn.lock
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/CodeEditor.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/DataBinding/DataPicker.tsx
  platform/wab/src/wab/shared/eval/expression-parser.spec.ts
  platform/wab/src/wab/shared/eval/expression-parser.ts
  platform/wab/src/wab/shared/parser-utils.ts
Due: check-instanceof-model, eslint

[DEVOP-322] Improve logs and tracings (#1453)
  platform/wab/package.json
  platform/wab/src/wab/client/observability/posthog-browser.ts
  platform/wab/src/wab/server/AppServer.ts
  platform/wab/src/wab/server/app-backend-real.ts
  platform/wab/src/wab/server/auth/routes.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/code-components/code-components.ts
  platform/wab/src/wab/server/db/DbProjectUtils.ts
  platform/wab/src/wab/server/db/custom-scripts/clean-tutorialdbs.ts
  platform/wab/src/wab/server/db/custom-scripts/re-identify-users.ts
  platform/wab/src/wab/server/loader/error-handler.ts
  platform/wab/src/wab/server/loader/module-bundler.ts
  platform/wab/src/wab/server/loader/module-writer.ts
  platform/wab/src/wab/server/loader/parse-query-params.ts
  platform/wab/src/wab/server/main.ts
  platform/wab/src/wab/server/observability/PinoLogger.ts
  platform/wab/src/wab/server/observability/posthog-node.ts
  platform/wab/src/wab/server/scripts/send-comments-notifications.ts
  platform/wab/src/wab/server/server-common.ts
  platform/wab/src/wab/server/server-util.ts
  platform/wab/src/wab/server/util/apm-util.ts
  platform/wab/src/wab/server/util/passport-multi-oauth2.ts
  platform/wab/src/wab/shared/observability/AmplitudeAnalytics.ts
  platform/wab/src/wab/shared/observability/Analytics.ts
  platform/wab/src/wab/shared/observability/BaseAnalytics.ts
  platform/wab/src/wab/shared/observability/ConsoleLogAnalytics.ts
  platform/wab/src/wab/shared/observability/Logger.ts
  platform/wab/src/wab/shared/observability/Properties.ts
  platform/wab/yarn.lock
Due: check-instanceof-model, eslint

upgrade-internal
  platform/wab/yarn.lock
Due: none

feat: add StylesContext for token overrides support (#1407)
  packages/react-web/src/index-common.tsx
  packages/react-web/src/render/elements.ts
  packages/react-web/src/render/global-variants.ts
  packages/react-web/src/render/style-tokens.tsx
  platform/wab/src/wab/shared/codegen/react-p/serialize-utils.ts
Due: check-instanceof-model, eslint

Publish
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

feat: Plasmic CLI creates plasmic.ts to support token overrides (#1457)
  packages/cli/src/__mocks__/api.ts
  packages/cli/src/actions/export.ts
  packages/cli/src/actions/sync-project-module.ts
  packages/cli/src/actions/sync-style-tokens-provider.ts
  packages/cli/src/actions/sync.ts
  packages/cli/src/api.ts
  packages/cli/src/test-common/fixtures.ts
  packages/cli/src/utils/checksum.ts
  packages/cli/src/utils/code-utils.ts
  packages/cli/src/utils/config-utils.ts
  packages/cli/src/utils/get-context.ts
Due: none

Path conditions:
  check-instanceof-model: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-weakrefs: any of: ^platform/wab/src/wab/model/model-schema.ts$
  eslint: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-plume-version: any of: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
  check-bundle-migrations: any of: ^platform/wab/src/wab/server/bundle-migrations/.*$
