Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

check-instanceof-model:
  name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
  language: system

check-weakrefs:
  name: Check new weak refs in the project and warn about files that might need to be updated
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
  language: system

eslint:
  name: Lint ts/tsx files with eslint
  entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
  language: system

check-plume-version:
  name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
  entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
  language: system

check-bundle-migrations:
  name: Update list of bundle migrations and check migration numbers
  entry: platform/wab/tools/bundle-migration-check.sh
  language: system

cleanup: remove french words
  platform/wab/rsbuild.config.ts
  platform/wab/src/wab/server/emails/tools/test-email.mts
  platform/wab/src/wab/server/trigger-webhooks.ts
Due: check-instanceof-model, eslint

fix: enable more versions for nextjs loader tests (#1219)
  platform/loader-tests/src/env.ts
Due: none

fix: remove gitlab ci file and specs modifications
  .gitlab-ci.yml
  docker-compose.production.yml
  platform/wab/src/wab/server/routes/loader.spec.ts
Due: check-instanceof-model, eslint

fix: remove file extension to remain compatible with commonjs aliases
  platform/wab/src/wab/server/emails/host/plasmic-host.tsx
  platform/wab/src/wab/server/emails/templates/plasmic.json
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicAtomsButtonOutline.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicAtomsButtonSolid.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicAtomsCard.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicComment.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsComment.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsComments.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsHeader.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsMentions.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsReactions.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsReplies.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicCommentsResolutions.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicFooter.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicFooterSocialIcon.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicFooterSocialIcons.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicFooterText.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicLayout.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicTemplateComments.tsx
  platform/wab/src/wab/server/emails/templates/plasmic/plasmic_kit_email_templates/PlasmicTemplateTestEmail.tsx
Due: check-instanceof-model, eslint

fix: remove french words
  platform/wab/tools/docker-dev/nginx.conf
Due: none

Nav keyboard (#1225)
  platform/wab/src/wab/client/components/grouping/VirtualTree.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
Due: check-instanceof-model, eslint

fix: wrap context providers in client component
  platform/wab/src/wab/shared/codegen/react-p/serialize-utils.ts
  platform/wab/src/wab/shared/codegen/variants.ts
Due: check-instanceof-model, eslint

add codegen tests for global variant (tokens and context)
  platform/wab/src/wab/server/scripts/dev-bundle-migrator.ts
  platform/wab/src/wab/shared/codegen/__tests__/bundles/global-variant-test.json
  platform/wab/src/wab/shared/codegen/__tests__/counters.spec.tsx
  platform/wab/src/wab/shared/codegen/__tests__/custom-functions.tsx
  platform/wab/src/wab/shared/codegen/__tests__/form-with-reset-input.spec.tsx
  platform/wab/src/wab/shared/codegen/__tests__/global-variant.spec.tsx
  platform/wab/src/wab/shared/codegen/__tests__/hidden-components.spec.tsx
  platform/wab/src/wab/shared/codegen/__tests__/people-list.spec.tsx
  platform/wab/src/wab/shared/codegen/__tests__/todoapp.spec.tsx
  platform/wab/src/wab/shared/codegen/__tests__/todomvc.spec.tsx
  platform/wab/src/wab/shared/codegen/codegen-tests-util.ts
Due: check-instanceof-model, eslint

fix(rac): Plexus preview in marketplace flashes, then disappears (#1229)
  plasmicpkgs/react-aria/src/registerTooltip.tsx
Due: none

Publish
  plasmicpkgs/react-aria/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

[PLA-11167] Add new token from folder
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/client/components/sidebar/TokenTypeHeader.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
  platform/wab/src/wab/shared/TplMgr.ts
Due: check-instanceof-model, eslint

[PLA-11167] Group add with name prefix
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
  platform/wab/src/wab/client/components/widgets/NewComponentModal.tsx
  platform/wab/src/wab/client/components/widgets/NewPageModal.tsx
  platform/wab/src/wab/client/prompts.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/TplMgr.ts
Due: check-instanceof-model, eslint

[PLA-11167] Format NavigationDropdown
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Update nav menu UI for folder delete and rename
  platform/wab/src/wab/client/components/modals/folderDeletionModal.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/FolderContextMenu.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
  platform/wab/src/wab/client/components/widgets/EditableLabel/EditableLabel.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Implement delete folder from nav dropdown
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/ArenaContextMenu.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Implement rename folder from nav dropdown
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Refactor tokens panel for folder actions
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
  platform/wab/src/wab/shared/folders/folders-util.ts
Due: check-instanceof-model, eslint

[PLA-11167] Add component from left menu
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/client/components/sidebar/ComponentFolderRow.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Fix adding arenas in nested folders
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/shared/folders/folders-util.spec.ts
  platform/wab/src/wab/shared/folders/folders-util.ts
Due: check-instanceof-model, eslint

[PLA-11167] Refactor left panel for folder actions
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/FolderContextMenu.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
  platform/wab/src/wab/client/components/sidebar/ComponentFolderRow.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Implement left panel folder actions
  platform/wab/src/wab/client/components/sidebar/ComponentFolderRow.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
  platform/wab/src/wab/client/components/widgets/EditableLabel/EditableLabel.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Refactor folder actions
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
  platform/wab/src/wab/client/components/sidebar/ComponentFolderRow.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
Due: check-instanceof-model, eslint

fix(webhooks): only call webhooks that have an url set
  platform/wab/src/wab/client/components/TopFrame/TopBar/PublishFlowDialogWrapper.tsx
Due: check-instanceof-model, eslint

[PLA-11167] Ensure renamed folders are expanded
  platform/wab/src/wab/client/components/grouping/VirtualTree.tsx
  platform/wab/src/wab/client/components/modals/componentDeletionModal.tsx
  platform/wab/src/wab/client/components/modals/folderDeletionModal.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/ArenaContextMenu.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar/ComponentRow.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/client/components/sidebar/LeftPagesPanel.tsx
  platform/wab/src/wab/shared/folders/folders-util.ts
Due: check-instanceof-model, eslint

[PLA-11167] Group level actions (#1237)
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/client/components/grouping/VirtualTree.tsx
  platform/wab/src/wab/client/components/modals/componentDeletionModal.tsx
  platform/wab/src/wab/client/components/modals/folderDeletionModal.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/ArenaContextMenu.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/FolderContextMenu.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationRows.tsx
  platform/wab/src/wab/client/components/sidebar/ComponentFolderRow.tsx
  platform/wab/src/wab/client/components/sidebar/ComponentRow.tsx
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
  platform/wab/src/wab/client/components/sidebar/LeftPagesPanel.tsx
  platform/wab/src/wab/client/components/sidebar/TokenTypeHeader.tsx
  platform/wab/src/wab/client/components/sidebar/token-controls.tsx
  platform/wab/src/wab/client/components/widgets/EditableLabel/EditableLabel.tsx
  platform/wab/src/wab/client/components/widgets/NewComponentModal.tsx
  platform/wab/src/wab/client/components/widgets/NewPageModal.tsx
  platform/wab/src/wab/client/prompts.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/TplMgr.ts
  platform/wab/src/wab/shared/folders/folders-util.spec.ts
  platform/wab/src/wab/shared/folders/folders-util.ts
Due: check-instanceof-model, eslint

fix(wab): open docs link in new tab (#1238)
  platform/wab/src/wab/client/components/modals/codeComponentModals.tsx
Due: check-instanceof-model, eslint

[PLA-12264] Fix admin project import studio crash
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
Due: check-instanceof-model, eslint

[PLA-12259] Implement resizing behavior for textarea component (#1236)
  plasmicpkgs/react-aria/src/registerTextArea.tsx
Due: none

[PLA-12191]: Use css-tree AST for parsing stylesheet (#1102)
  platform/wab/package.json
  platform/wab/src/wab/client/components/sidebar-tabs/FilterEffectSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ShadowsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/TransformPanelSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/TransitionsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/background-section.tsx
  platform/wab/src/wab/client/components/style-controls/BoxShadowControls.tsx
  platform/wab/src/wab/client/components/style-controls/DefinedIndicator.tsx
  platform/wab/src/wab/client/web-importer/constants.ts
  platform/wab/src/wab/client/web-importer/css-utils.spec.ts
  platform/wab/src/wab/client/web-importer/css-utils.ts
  platform/wab/src/wab/client/web-importer/html-parser.spec.ts
  platform/wab/src/wab/client/web-importer/html-parser.ts
  platform/wab/src/wab/client/web-importer/specificity.ts
  platform/wab/src/wab/commons/StyleToken.ts
  platform/wab/src/wab/gen/css-peg-parser.spec.ts
  platform/wab/src/wab/server/bundle-migrations/183-ruleset-to-object.ts
  platform/wab/src/wab/shared/RuleSetHelpers.ts
  platform/wab/src/wab/shared/code-components/code-components.ts
  platform/wab/src/wab/shared/core/bg-styles.spec.ts
  platform/wab/src/wab/shared/core/bg-styles.ts
  platform/wab/src/wab/shared/core/image-assets.ts
  platform/wab/src/wab/shared/core/styles.ts
  platform/wab/src/wab/shared/css.spec.ts
  platform/wab/src/wab/shared/css.ts
  platform/wab/src/wab/shared/css/background.ts
  platform/wab/src/wab/shared/css/colors.ts
  platform/wab/src/wab/shared/css/css-tree-utils.ts
  platform/wab/src/wab/shared/css/parse.ts
  platform/wab/src/wab/shared/insertable-templates/fixers.ts
  platform/wab/src/wab/shared/site-invariants.ts
  platform/wab/yarn.lock
Due: check-instanceof-model, eslint, check-bundle-migrations

Fix nav menu close and console errors (#1245)
  platform/wab/cypress/e2e/plexus-installation.spec.ts
  platform/wab/src/wab/client/components/XMultiSelect.tsx
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/studio/view-editor.tsx
  platform/wab/src/wab/client/components/top-bar/ArenaSwitcher.tsx
  platform/wab/src/wab/client/components/widgets.tsx
Due: check-instanceof-model, eslint

[PLA-12099]: Generate new tokens in structured output (#1089)
  platform/wab/src/wab/client/api.ts
  platform/wab/src/wab/client/components/copilot/CopilotPromptDialog.tsx
  platform/wab/src/wab/server/copilot/llms.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/shared/ApiSchema.ts
  platform/wab/src/wab/shared/SharedApi.ts
  platform/wab/src/wab/shared/copilot/prompt-utils.ts
Due: check-instanceof-model, eslint

[PLA-11895] Handle comments where subject is deleted or no variant (#1216)
  platform/wab/src/wab/client/components/comments/RootComment.tsx
  platform/wab/src/wab/client/components/comments/ThreadCommentsDialog.tsx
  platform/wab/src/wab/client/components/comments/utils.spec.ts
  platform/wab/src/wab/client/components/comments/utils.ts
  platform/wab/src/wab/client/studio-ctx/comments-ctx.ts
Due: check-instanceof-model, eslint

[PLA-12202]: Generate new tokens from output client integration (#1096)
  platform/wab/src/wab/client/HtmlImporter.tsx
  platform/wab/src/wab/client/commands/command.ts
  platform/wab/src/wab/client/commands/token/addToken.ts
  platform/wab/src/wab/client/components/copilot/CopilotPromptDialog.tsx
  platform/wab/src/wab/client/components/copilot/CopilotUiPrompt.tsx
  platform/wab/src/wab/client/web-importer/html-parser.spec.ts
  platform/wab/src/wab/client/web-importer/html-parser.ts
  platform/wab/src/wab/commons/StyleToken.ts
  platform/wab/src/wab/shared/css.ts
Due: check-instanceof-model, eslint

feat(plasmic-wordpress): add custom function to query wordpress (#1210)
  plasmicpkgs/plasmic-wordpress/api/index.api.md
  plasmicpkgs/plasmic-wordpress/package.json
  plasmicpkgs/plasmic-wordpress/src/custom-functions.ts
  plasmicpkgs/plasmic-wordpress/src/index.tsx
  plasmicpkgs/plasmic-wordpress/src/utils.ts
  plasmicpkgs/plasmic-wordpress/src/wordpress.tsx
  plasmicpkgs/plasmic-wordpress/tsconfig.json
Due: none

Publish
  plasmicpkgs/plasmic-wordpress/package.json
Due: none

Improve branching performance with updatedAt (#1234)
  platform/wab/package.json
  platform/wab/src/wab/client/db.ts
  platform/wab/src/wab/client/optimized-branching.spec.ts
  platform/wab/src/wab/client/test/fake-init-ctx.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/shared/core/observable-model.spec.ts
  platform/wab/src/wab/shared/core/observable-model.ts
  platform/wab/src/wab/shared/site-diffs/_tests_/utils.ts
  platform/wab/src/wab/shared/site-diffs/merge-components.ts
  platform/wab/src/wab/shared/site-diffs/merge-core.ts
  platform/wab/src/wab/shared/site-diffs/model-conflicts-meta.ts
  platform/wab/src/wab/shared/site-invariants.ts
Due: check-instanceof-model, eslint

Path conditions:
  check-instanceof-model: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-weakrefs: any of: ^platform/wab/src/wab/model/model-schema.ts$
  eslint: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-plume-version: any of: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
  check-bundle-migrations: any of: ^platform/wab/src/wab/server/bundle-migrations/.*$
