Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check-instanceof-model
        name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
        files: ^platform/wab/src/.*\.(ts|tsx)$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
        language: system
  - repo: local
    hooks:
      - id: check-weakrefs
        name: Check new weak refs in the project and warn about files that might need to be updated
        files: ^platform/wab/src/wab/model/model-schema.ts$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
        language: system
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on code written by humans
        files: ^.*\.(js|jsx|cjs|mjs|ts|tsx|cts|mts|json|css|scss|md|toml|xml)$
        exclude: (^.*/(plasmic|deps|static|\.yalc)/.*$)|(^loader-tests/data/.*\.json$)|(examples/hydrogen-.*)|(api/.*\.md$)
        entry: env NODE_OPTIONS=--max-old-space-size=4096 prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@2.8.8
          - prettier-plugin-organize-imports@3.2.2
          - typescript@4.7.4
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on Plasmic-generated files
        files: ^.*/plasmic/.*\.(js|jsx|ts|tsx|json|css|scss|md|toml|xml)$
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check merge conflicts
      - id: trailing-whitespace
        name: Check trailing whitespaces
        exclude: ^.*/__snapshots__/.*$
  - repo: local
    hooks:
      - id: eslint
        name: Lint ts/tsx files with eslint
        files: ^platform/wab/src/.*\.(ts|tsx)$
        types: [file]
        entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
        language: system
  # From public-packages
  #  - repo: https://github.com/pre-commit/mirrors-eslint
  #    rev: v8.44.0
  #    hooks:
  #      - id: eslint
  #        types: [file]
  #        files: ^.*\.(ts|tsx)$
  #        exclude: ^.*/plasmic/.*$
  #        additional_dependencies:
  #          - "@typescript-eslint/eslint-plugin@5.62.0"
  #          - "@typescript-eslint/parser@5.62.0"
  #          - "eslint@8.44.0"
  #          - "eslint-config-prettier@8.8.0"
  #          - "eslint-config-react-app@7.0.1"
  #          - "eslint-plugin-prettier@4.2.1"
  - repo: local
    hooks:
      - id: check-plume-version
        name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
        files: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
        entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
        language: system
  - repo: local
    hooks:
      - id: check-bundle-migrations
        name: Update list of bundle migrations and check migration numbers
        files: ^platform/wab/src/wab/server/bundle-migrations/.*$
        entry: platform/wab/tools/bundle-migration-check.sh
        language: system
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfiles
        args: [--failure-threshold=warning]

feat: added delayed auto-focus on name field for NewComponentModal and NewPageModal
  platform/wab/src/wab/client/components/widgets/NewComponentModal.tsx
  platform/wab/src/wab/client/components/widgets/NewPageModal.tsx
  platform/wab/src/wab/client/components/widgets/Textbox.tsx
Due: check-instanceof-model, eslint

fix(tests): change snapshots
  platform/wab/src/wab/shared/model/__snapshots__/model-util.spec.ts.snap
Due: none

fix(tests): add delay in hostless-cms test
  platform/wab/cypress/e2e/hostless-cms.spec.ts
Due: none

fix: removed children from props passed to Players in LeftTabStrip
  platform/wab/src/wab/client/components/studio/LeftTabStrip.tsx
Due: check-instanceof-model, eslint

refactor: renamed children to _children to indicate that it's not being used and added a comment
  platform/wab/src/wab/client/components/studio/LeftTabStrip.tsx
Due: check-instanceof-model, eslint

fix(components): create bundle migration to remove duplicated component names
  platform/wab/src/wab/server/bundle-migrations/236-rename-duplicated-components.ts
  platform/wab/src/wab/server/db/migrations-list.txt
Due: check-instanceof-model, eslint, check-bundle-migrations

feat(loader): add branch parameter to repr-v3 preview route
  platform/wab/src/wab/server/loader/resolve-projects.ts
  platform/wab/src/wab/server/routes/loader.ts
Due: check-instanceof-model, eslint

chore: remove unused code
  platform/wab/src/wab/server/routes/loader.ts
Due: check-instanceof-model, eslint

chore(rich-text-toolbar): explicityly set fontWeight to undefined for better readability
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
Due: check-instanceof-model, eslint

chore(rich-text-toolbar): explicityly unset markers to undefined for removing values
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
Due: check-instanceof-model, eslint

feat(tags): add support for sub and sup tags
  platform/wab/src/wab/client/components/canvas/CanvasText.ts
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/HTMLAttributesSection.tsx
  platform/wab/src/wab/shared/core/rich-text-util.ts
Due: check-instanceof-model, eslint

chore(inline-tags): added superscript and subscript icons
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_icons/icons/PlasmicIcon__Subscript.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_icons/icons/PlasmicIcon__Superscript.tsx
Due: check-instanceof-model, eslint

PLA-11315 fix(wab): Remove all instances of Link to a Prop
  platform/wab/src/wab/client/components/sidebar-tabs/image-section.tsx
Due: check-instanceof-model, eslint

fix(clone): Accept all expressions in owned tpl trees
  platform/wab/src/wab/shared/insertable-templates/fixers.ts
Due: check-instanceof-model, eslint

feat(contentful): Support ordering elements in contentful fetcher
  plasmicpkgs/plasmic-contentful/src/contentful.tsx
Due: none

Publish
  plasmicpkgs/plasmic-contentful/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

fix(perms): Bump required role for Write API from content to editor
  platform/wab/src/wab/server/db/DbMgr.ts
Due: check-instanceof-model, eslint

[PLA-11320] Support .avif image format
  platform/wab/src/wab/client/components/cms/CmsInputs.tsx
  platform/wab/src/wab/client/components/sidebar/image-asset-controls.tsx
  platform/wab/src/wab/client/components/studio/view-editor.tsx
  platform/wab/src/wab/client/components/style-controls/ImageSelector.tsx
Due: check-instanceof-model, eslint

fix(context-data): avoid unnecessary sets on observable map
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
Due: check-instanceof-model, eslint

refactor: react aria pattern and autoComplete helptext formatted
  plasmicpkgs/react-aria/src/common.ts
Due: none

Publish
  plasmicpkgs/react-aria/package.json
Due: none

fix(components): don't show Code component group if there are only global contexts registered
  platform/wab/src/wab/client/components/sidebar/LeftComponentsPanel.tsx
Due: check-instanceof-model, eslint

[PLA-11289] fix(rac): Don't export Aria Form from react-aria package
  plasmicpkgs/react-aria/src/index.tsx
Due: none

chore(errors): change unknown error message for better visibility in Sentry
  platform/wab/src/wab/client/ErrorNotifications.tsx
Due: check-instanceof-model, eslint

[PLA-11322] Aria Combobox popover should not flip by default
  plasmicpkgs/react-aria/src/registerComboBox.tsx
  plasmicpkgs/react-aria/src/registerPopover.tsx
  plasmicpkgs/react-aria/src/registerSelect.tsx
Due: none

upgrade-internal
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

[PLA-11288] fix(rac): Hide name and required props from React-Aria components
  plasmicpkgs/react-aria/src/common.ts
Due: none

refactor: code component area label changed to Base + Registered
  platform/wab/src/wab/shared/component-arenas.ts
Due: check-instanceof-model, eslint

fix(splits): Remove split if matching global variant is removed
  platform/wab/src/wab/shared/core/splits.ts
Due: check-instanceof-model, eslint

chore: Remove unnecessary insert panel warnings
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

feat: lottie interactivity added
  plasmicpkgs/lottie-react/src/Lottie.tsx
Due: none
