Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

check-instanceof-model:
  name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
  language: system

check-weakrefs:
  name: Check new weak refs in the project and warn about files that might need to be updated
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
  language: system

eslint:
  name: Lint ts/tsx files with eslint
  entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
  language: system

check-plume-version:
  name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
  entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
  language: system

check-bundle-migrations:
  name: Update list of bundle migrations and check migration numbers
  entry: platform/wab/tools/bundle-migration-check.sh
  language: system

Merge pull request #20 from plasmicapp/PLA-11166
  platform/wab/src/wab/styles/canvas/canvas.scss
Due: none

Merge pull request #19 from plasmicapp/PLA-11242
  plasmicpkgs/react-aria/src/registerLabel.tsx
  plasmicpkgs/react-aria/src/registerText.tsx
Due: none

Publish
  plasmicpkgs/react-aria/package.json
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

Merge pull request #22 from plasmicapp/duplicated
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/site-invariants.ts
Due: check-instanceof-model, eslint

fix(tokens): correctly key dependencies in the token virtual tree
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
Due: check-instanceof-model, eslint

chore: update yarn.lock
  platform/live-frame/yarn.lock
Due: none

feat(auto-open): Add auto-open mode for Studio
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/client/components/top-bar/ViewButton.tsx
  platform/wab/src/wab/client/components/tpl-menu.tsx
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
  platform/wab/src/wab/shared/canvas-constants.ts
  platform/wab/src/wab/shared/core/slots.ts
  platform/wab/src/wab/shared/core/tpls.spec.ts
  platform/wab/src/wab/shared/core/tpls.ts
  platform/wab/src/wab/shared/devflags.ts
Due: check-instanceof-model, eslint

fix(components): auto naming for components shouldn't consider folders
  platform/wab/src/wab/shared/TplMgr.ts
Due: check-instanceof-model, eslint

chore: remove posthog debug in development env
  platform/wab/src/wab/client/components/Shell.tsx
Due: check-instanceof-model, eslint

fix(observables): avoid disposing components in the current context
  platform/wab/src/wab/client/db.ts
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/core/observable-model.ts
Due: check-instanceof-model, eslint

feat(ssoConfig): add whitelabelConfig to SsoConfig entity
  platform/wab/src/wab/client/components/pages/admin/AdminTeamsView.tsx
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/entities/Entities.ts
  platform/wab/src/wab/server/migrations/1727857960079-AddSsoConfigWhitelabel.ts
  platform/wab/src/wab/server/routes/admin.ts
Due: check-instanceof-model, eslint

feat(ssoConfig): use whitelabelConfig for teams with both configured
  platform/wab/src/wab/server/auth/custom-passport-cfg.ts
  platform/wab/src/wab/server/auth/passport-cfg.ts
  platform/wab/src/wab/server/entities/Entities.ts
Due: check-instanceof-model, eslint

fix(copy-and-paste): Ensure unique name for attached components
  platform/wab/src/wab/shared/insertable-templates/__tests__/bundles/copy-and-paste.json
  platform/wab/src/wab/shared/insertable-templates/__tests__/copy-and-paste.spec.ts
  platform/wab/src/wab/shared/insertable-templates/component-importer.ts
Due: check-instanceof-model, eslint

fix(variants): ensure we have the current base variant when editing a combo
  platform/wab/src/wab/shared/Variants.ts
Due: check-instanceof-model, eslint

fix(sections): remove 'react' props from dom elements
  platform/wab/src/wab/client/components/sidebar-tabs/MixinsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ShadowsSection.tsx
  platform/wab/src/wab/client/components/sidebar/SidebarSection.tsx
  platform/wab/src/wab/client/components/style-controls/StyleComponent.tsx
Due: check-instanceof-model, eslint

fix(create-plasmic-app): remove unnecessary next.config.js and stop using type because of eslint errors
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-js/next.config.js
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-ts/next.config.js
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/next.config.js
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/next.config.js
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-js/next.config.js
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-ts/next.config.js
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-ts/pages/[[...catchall]].tsx
Due: none

chore(integration-tests): update package.json
  platform/integration-tests/package.json
  platform/integration-tests/src/codebases/utils.ts
  platform/integration-tests/yarn.lock
Due: none

Publish
  packages/create-plasmic-app/package.json
Due: none

fix(tokens): do not allow users to edit readOnly tokens
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
Due: check-instanceof-model, eslint

fix(grouping): store expanded state for elements that did not get removed
  platform/wab/src/wab/client/components/grouping/VirtualTree.tsx
Due: check-instanceof-model, eslint

chore: Increase timeouts in left-panel.spec.ts
  platform/wab/cypress/e2e/left-panel.spec.ts
Due: none

feat(integration-tests): make tests run in parallel
  platform/integration-tests/Dockerfile
Due: none

fix(create-plasmic-app): correctly fix issue with any type and next.config.js files
  packages/create-plasmic-app/.tool-versions
  packages/create-plasmic-app/src/nextjs/nextjs.ts
  packages/create-plasmic-app/src/nextjs/templates/pages-loader/catchall-page.ts
Due: none

chore: run yarn run-cpa
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-js/pages/[[...catchall]].jsx
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-js/pages/api/hello.js
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-js/pages/plasmic-host.jsx
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-ts/pages/[[...catchall]].tsx
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-ts/pages/api/hello.ts
  packages/create-plasmic-app/cpa-out/nextjs-app-loader-ts/pages/plasmic-host.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/Button.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/plasmic/create_plasmic_app/PlasmicButton.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/plasmic/create_plasmic_app/PlasmicDynamicPage.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/plasmic/create_plasmic_app/PlasmicGlobalVariant__Screen.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/plasmic/create_plasmic_app/PlasmicHomepage.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/plasmic/create_plasmic_app/PlasmicRandomDynamicPageButton.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/components/plasmic/create_plasmic_app/icons/PlasmicIcon__Checksvg.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/package.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/pages/dynamic/[slug].jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/pages/index.jsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-js/plasmic.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/Button.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/plasmic/create_plasmic_app/PlasmicButton.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/plasmic/create_plasmic_app/PlasmicDynamicPage.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/plasmic/create_plasmic_app/PlasmicGlobalVariant__Screen.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/plasmic/create_plasmic_app/PlasmicHomepage.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/plasmic/create_plasmic_app/PlasmicRandomDynamicPageButton.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/components/plasmic/create_plasmic_app/icons/PlasmicIcon__Checksvg.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/package.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/pages/dynamic/[slug].tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/pages/index.tsx
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/plasmic.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-codegen-ts/tsconfig.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-js/package.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-js/pages/api/hello.js
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-ts/package.json
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-ts/pages/api/hello.ts
  packages/create-plasmic-app/cpa-out/nextjs-pages-loader-ts/tsconfig.json
Due: none

fix(integration-tests): fix git version not found
  platform/integration-tests/Dockerfile
Due: none

Update 00-getting-started.md
  docs/contributing/platform/00-getting-started.md
Due: none

feat(tokens): add confirmation modal for removed tokens
  platform/wab/src/wab/client/code-components/code-components.tsx
  platform/wab/src/wab/client/components/modals/codeComponentModals.tsx
  platform/wab/src/wab/shared/code-components/code-components.ts
Due: check-instanceof-model, eslint

feat(insertables): add component thumbnails
  platform/canvas-packages/package.json
  platform/canvas-packages/src/index.ts
  platform/canvas-packages/yarn.lock
  platform/wab/public/index.html
  platform/wab/src/wab/client/components/canvas/canvas-ctx.ts
  platform/wab/src/wab/client/components/canvas/subdeps.ts
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/studio/add-drawer/AddDrawer.tsx
  platform/wab/src/wab/client/cseval.ts
  platform/wab/src/wab/client/definitions/insertables.tsx
  platform/wab/src/wab/client/fonts.ts
  platform/wab/src/wab/client/image/transform.spec.ts
  platform/wab/src/wab/client/image/transform.ts
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/devflags.ts
  scripts/internal-react-slick.patch
Due: check-instanceof-model, eslint

fix(globalHook): Create fake valNodes to mitigate components not being selectable
  platform/wab/src/wab/client/components/canvas/HoverBox/PreselectBox.tsx
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/client/components/studio/view-editor.tsx
  platform/wab/src/wab/client/react-global-hook/globalHook.ts
  platform/wab/src/wab/client/react-global-hook/globalHookConstants.ts
  platform/wab/src/wab/client/react-global-hook/types.ts
  platform/wab/src/wab/client/react-global-hook/utils.ts
  platform/wab/src/wab/client/studio-ctx/renderState.ts
Due: check-instanceof-model, eslint

fix(screen-variants): observe all project components when changing breakpoints before mapping the old variant to the new one
  platform/wab/src/wab/client/components/canvas/site-ops.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ResponsivenessPanel/ResponsivenessPanel.tsx
  platform/wab/src/wab/client/components/sidebar/ProjectDependencies.tsx
  platform/wab/src/wab/shared/TplMgr.ts
Due: check-instanceof-model, eslint

feat: Merge arbitrary CSS selectors with Element States
  platform/wab/cypress/e2e/component-ops.spec.ts
  platform/wab/cypress/support/util.ts
  platform/wab/src/wab/client/components/VariantControls.tsx
  platform/wab/src/wab/client/components/canvas/CanvasFrame/CanvasHeader.tsx
  platform/wab/src/wab/client/components/canvas/VariantsBar/VariantBadge.tsx
  platform/wab/src/wab/client/components/canvas/VariantsBar/VariantsDrawer.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ArbitraryCssSelectorsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/Sections.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/private-style-variants-section.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/style-tab.tsx
  platform/wab/src/wab/client/components/sidebar/RuleSetControls.tsx
  platform/wab/src/wab/client/components/variants/VariantSection.tsx
  platform/wab/src/wab/client/components/variants/VariantsDrawer.tsx
  platform/wab/src/wab/client/components/variants/VariantsPanel.tsx
  platform/wab/src/wab/client/components/variants/variant-menu.tsx
  platform/wab/src/wab/client/components/widgets/DetailedTooltips.tsx
  platform/wab/src/wab/server/bundle-migrations/234-variant-selectors-no-display-name.ts
  platform/wab/src/wab/server/db/check-bundle-migrations.ts
  platform/wab/src/wab/server/db/migrations-list.txt
  platform/wab/src/wab/shared/Labels.ts
  platform/wab/src/wab/shared/TplQuery.ts
  platform/wab/src/wab/shared/Variants.ts
  platform/wab/src/wab/shared/cached-selectors.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
  platform/wab/src/wab/shared/core/components.ts
  platform/wab/src/wab/shared/core/styles.ts
Due: check-instanceof-model, eslint, check-bundle-migrations

feat: add bundle migration tests framework
  .prettierignore
  platform/wab/src/wab/server/__tests__/bundle-migrations/bundle-migrations.spec.ts
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/style-variants.json
  platform/wab/src/wab/server/__tests__/bundle-migrations/fixtures/style-variants.migrated.json
  platform/wab/src/wab/server/scripts/dev-bundle-migrator.ts
Due: check-instanceof-model, eslint

fix(tokens): remove duplicated keys for registered tokens
  platform/wab/src/wab/client/components/sidebar/LeftGeneralTokensPanel.tsx
Due: check-instanceof-model, eslint

fix: fix interactive variants
  platform/wab/src/wab/server/bundle-migrations/235-variant-selectors-no-display-name-corrected.ts
  platform/wab/src/wab/server/db/migrations-list.txt
Due: check-instanceof-model, eslint, check-bundle-migrations

fix: italian tag action item added to differentiated from inline italian action
  platform/wab/src/wab/client/components/canvas/CanvasText.ts
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
Due: check-instanceof-model, eslint

chore: synced wab with plasmic
  platform/wab/plasmic.json
  platform/wab/plasmic.lock
  platform/wab/src/wab/client/plasmic/PP__plasmickit_design_system.module.css
  platform/wab/src/wab/client/plasmic/PlasmicButton.tsx
  platform/wab/src/wab/client/plasmic/PlasmicIconButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit/PlasmicIcon__Playsvg.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit/PlasmicPanelDivider.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit/PlasmicSearchbox.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit/PlasmicTextbox.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicActionMenuButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicCheckbox.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicChip.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicDropdownOverlay.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicExpandButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicFreeTrial.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicIndicator.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicInlineEditable.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicListItem.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicListSection.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicListSectionHeader.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicListSectionSeparator.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicMenuButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicModal.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicSelect.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicSelect__Option.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicSelect__OptionGroup.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicSelect__Overlay.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicSwitch.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicTextWithInfo.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/PlasmicTextarea.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_design_system/icons/PlasmicIcon__DoubleDotsVerticalsvg.tsx
  platform/wab/src/wab/styles/plasmic-tokens.theo.json
Due: check-instanceof-model, eslint

Path conditions:
  check-instanceof-model: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-weakrefs: any of: ^platform/wab/src/wab/model/model-schema.ts$
  eslint: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-plume-version: any of: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
  check-bundle-migrations: any of: ^platform/wab/src/wab/server/bundle-migrations/.*$
