Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check-instanceof-model
        name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
        files: ^platform/wab/src/.*\.(ts|tsx)$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
        language: system
  - repo: local
    hooks:
      - id: check-weakrefs
        name: Check new weak refs in the project and warn about files that might need to be updated
        files: ^platform/wab/src/wab/model/model-schema.ts$
        entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
        language: system
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on code written by humans
        files: ^.*\.(js|jsx|cjs|mjs|ts|tsx|cts|mts|json|css|scss|md|toml|xml)$
        exclude: (^.*/(plasmic|deps|static|\.yalc)/.*$)|(^loader-tests/data/.*\.json$)|(examples/hydrogen-.*)|(api/.*\.md$)
        entry: env NODE_OPTIONS=--max-old-space-size=4096 prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@2.8.8
          - prettier-plugin-organize-imports@3.2.2
          - typescript@4.7.4
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Run prettier on Plasmic-generated files
        files: ^.*/plasmic/.*\.(js|jsx|ts|tsx|json|css|scss|md|toml|xml)$
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check merge conflicts
      - id: trailing-whitespace
        name: Check trailing whitespaces
        exclude: ^.*/__snapshots__/.*$
  - repo: local
    hooks:
      - id: eslint
        name: Lint ts/tsx files with eslint
        files: ^platform/wab/src/.*\.(ts|tsx)$
        types: [file]
        entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
        language: system
  # From public-packages
  #  - repo: https://github.com/pre-commit/mirrors-eslint
  #    rev: v8.44.0
  #    hooks:
  #      - id: eslint
  #        types: [file]
  #        files: ^.*\.(ts|tsx)$
  #        exclude: ^.*/plasmic/.*$
  #        additional_dependencies:
  #          - "@typescript-eslint/eslint-plugin@5.62.0"
  #          - "@typescript-eslint/parser@5.62.0"
  #          - "eslint@8.44.0"
  #          - "eslint-config-prettier@8.8.0"
  #          - "eslint-config-react-app@7.0.1"
  #          - "eslint-plugin-prettier@4.2.1"
  - repo: local
    hooks:
      - id: check-plume-version
        name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
        files: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
        entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
        language: system
  - repo: local
    hooks:
      - id: check-bundle-migrations
        name: Update list of bundle migrations and check migration numbers
        files: ^platform/wab/src/wab/server/bundle-migrations/.*$
        entry: platform/wab/tools/bundle-migration-check.sh
        language: system
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfiles
        args: [--failure-threshold=warning]

feat: allow editing "Custom components" label via devflag
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/shared/devflags.ts
  platform/wab/src/wab/shared/ui-config-utils.ts
Due: check-instanceof-model, eslint

chore: Rename to "Component Store"
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

feat: separate local components from code components
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

feat: configure isHeaderLess via devflags
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/shared/devflags.ts
Due: check-instanceof-model, eslint

improve shouldShowPreview logic
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

feat: reduce vertical space on headers
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

feat: hide component store items if installed
  platform/wab/cypress/e2e/tutorial.spec.ts
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/studio/add-drawer/AddDrawer.tsx
  platform/wab/src/wab/client/definitions/insertables.tsx
  platform/wab/src/wab/client/tours/tutorials/frags/add-form-steps.ts
  platform/wab/src/wab/client/tours/tutorials/frags/add-rich-table-steps.ts
  platform/wab/src/wab/client/tours/tutorials/frags/basic-steps.ts
Due: check-instanceof-model, eslint

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
Due: none

fix(state): Don't invoke user event handler during state initialization
  packages/react-web/src/states/types.ts
  packages/react-web/src/states/valtio.tsx
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
  platform/wab/src/wab/shared/core/states.ts
Due: check-instanceof-model, eslint

Publish
  packages/react-web-runtime/package.json
  packages/react-web/package.json
  plasmicpkgs/antd5/package.json
Due: none

fix: more html elements should not close insert panel
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

[DEVOP-79] Created folder structure for Terragrunt and imported existing projects (#255)
  .gitignore
Due: none

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix(CI): Force install new copy of a template component
  platform/wab/src/wab/client/components/studio/add-drawer/AddDrawer.tsx
Due: check-instanceof-model, eslint

fix(CI): Check if any other tests fail
  platform/wab/cypress/e2e/generic-slots.spec.ts
Due: none

fix(CI): Try to match generic-slots spec with text-slots spec
  platform/wab/cypress/e2e/generic-slots.spec.ts
Due: none

fix(wab): Force install new copy of a template component
  platform/wab/src/wab/client/Dnd.tsx
  platform/wab/src/wab/client/ProjectDependencyManager.ts
  platform/wab/src/wab/client/components/canvas/FreestyleBox.tsx
  platform/wab/src/wab/client/components/canvas/view-ops.tsx
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ProjectPanel/NavigationDropdown.tsx
  platform/wab/src/wab/client/components/studio/add-drawer/AddDrawer.tsx
  platform/wab/src/wab/client/components/widgets/NewComponentModal.tsx
  platform/wab/src/wab/client/definitions/insertables.tsx
  platform/wab/src/wab/client/insertable-templates.ts
  platform/wab/src/wab/client/studio-ctx/StudioCtx.tsx
  platform/wab/src/wab/shared/insertable-templates.ts
  platform/wab/src/wab/shared/insertable-templates/component-importer.ts
  platform/wab/src/wab/shared/insertable-templates/types.ts
Due: check-instanceof-model, eslint

fix(CI): amend the failing test
  platform/wab/cypress/e2e/generic-slots.spec.ts
Due: none

fix(wab): Allow context menu in insert panel
  platform/wab/src/wab/client/dom-utils.ts
  platform/wab/src/wab/client/hooks/useDismissibleStudioOverlay.tsx
Due: check-instanceof-model, eslint

fix(auto-open): Increase delay in select auto open util
  plasmicpkgs/react-aria/src/registerSelect.tsx
Due: none

fix(branching): Handle code component variants
  platform/wab/src/wab/shared/site-diffs/merge-components.ts
Due: check-instanceof-model, eslint

Publish
  plasmicpkgs/react-aria/package.json
Due: none

fix(project-deps): correctly removed unused states/references when removing dependency
  platform/wab/src/wab/shared/core/components.ts
  platform/wab/src/wab/shared/core/project-deps.ts
  platform/wab/src/wab/shared/core/states.ts
  platform/wab/src/wab/shared/refactoring.ts
Due: check-instanceof-model, eslint

feat: search should match the group label as well (#260)
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

fix(states): manually iterate over states when deleting to avoid skipping
  platform/wab/src/wab/client/fixes-post-change.ts
  platform/wab/src/wab/shared/core/project-deps.ts
Due: check-instanceof-model, eslint

fix: stop duplicating Plume components
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
Due: check-instanceof-model, eslint

chore: hide isSelected if parent is available
  plasmicpkgs/react-aria/src/registerCheckbox.tsx
Due: none

fix: spacing of insert panel rows was wrong (#263)
  platform/wab/plasmic.json
  platform/wab/plasmic.lock
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/client/components/studio/add-drawer/AddDrawerItem.tsx
  platform/wab/src/wab/client/components/variants/ScreenVariantSpec.tsx
  platform/wab/src/wab/client/components/variants/VariantChip.tsx
  platform/wab/src/wab/client/components/variants/VariantCombosSection.tsx
  platform/wab/src/wab/client/plasmic/PP__plasmic__default_style.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/PlasmicOmnibar.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/PlasmicOmnibarAddItem.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/PlasmicOmnibarAddItem.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/PlasmicOmnibarCommandItem.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/PlasmicOmnibarGroup.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/PlasmicOmnibarTabHeader.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_omnibar/plasmic_plasmic_kit_omnibar.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicScreenVariantSpec.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicScreenVariantSpec.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantChip.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantChip.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantComboPicker.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantComboPicker.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantComboRow.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantComboRow.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantCombosSection.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantCombosSection.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantPinButton.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantPinButton.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantRow.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantRow.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantSection.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantSection.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsDrawer.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsDrawer.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsDrawerHeader.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsDrawerHeader.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsDrawerRow.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsDrawerRow.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsPanel.module.css
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/PlasmicVariantsPanel.tsx
  platform/wab/src/wab/client/plasmic/plasmic_kit_variants/plasmic_plasmic_kit_variants.module.css
Due: check-instanceof-model, eslint

feat: Add install all button for Plexus
  platform/wab/src/wab/client/components/insert-panel/InsertPanel.tsx
  platform/wab/src/wab/shared/devflags.ts
  platform/wab/src/wab/shared/ui-config-utils.ts
Due: check-instanceof-model, eslint

fix(rac): Combobox input loses focus after the menu with options appears
  plasmicpkgs/react-aria/src/registerPopover.tsx
Due: none

fix(slots): Keep slots ordered by tpl order
  platform/wab/src/wab/client/fixes-post-change.ts
Due: check-instanceof-model, eslint

fix(states): Only check for state initialization in code components
  packages/react-web/src/states/valtio.tsx
  platform/wab/src/wab/client/components/canvas/canvas-rendering.ts
  platform/wab/src/wab/shared/codegen/react-p/index.ts
Due: check-instanceof-model, eslint

feat(server-actions): add bundle migration for server actions
  .eslintrc.js
  platform/wab/src/wab/server/bundle-migrations/239-add-server-queries.ts
  platform/wab/src/wab/server/db/migrations-list.txt
  platform/wab/src/wab/shared/model/model-schema.ts
  platform/wab/src/wab/shared/site-diffs/model-conflicts-meta.ts
Due: check-instanceof-model, eslint, check-bundle-migrations
