Repository plasmicapp/plasmic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-instanceof-model, check-weakrefs, eslint, check-plume-version, check-bundle-migrations

check-instanceof-model:
  name: Check that we do not use instanceof or ensureInstance or ensureInstanceMaybe with model types
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/check-instanceof-model.ts
  language: system

check-weakrefs:
  name: Check new weak refs in the project and warn about files that might need to be updated
  entry: platform/wab/node_modules/.bin/ts-node -P platform/wab/tsconfig.tools.json -r tsconfig-paths/register platform/wab/tools/checkWeakRefs.ts
  language: system

eslint:
  name: Lint ts/tsx files with eslint
  entry: env NODE_OPTIONS=--max-old-space-size=4096 yarn eslint --fix
  language: system

check-plume-version:
  name: Check plume-master-pkg.json matches REAL_PLUME_VERSION
  entry: platform/wab/node_modules/.bin/tsx --tsconfig platform/wab/tsconfig.tools.json platform/wab/src/wab/server/pkg-mgr/plume-pkg-mgr.ts check
  language: system

check-bundle-migrations:
  name: Update list of bundle migrations and check migration numbers
  entry: platform/wab/tools/bundle-migration-check.sh
  language: system

Revert "feat(host): add ReactDOMClient to __Sub" (#1217)
  packages/host/src/index.ts
  platform/wab/src/wab/client/components/canvas/subdeps.ts
Due: check-instanceof-model, eslint

upgrade-internal
  platform/canvas-packages/package.json
  platform/canvas-packages/yarn.lock
  platform/host-test/package.json
  platform/host-test/yarn.lock
  platform/loader-bundle-env/package.json
  platform/loader-bundle-env/yarn.lock
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/react-web-bundle/package.json
  platform/react-web-bundle/yarn.lock
  platform/sub/package.json
  platform/sub/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix(react-19): stop using ReactDOM.render for React 19 users (#1215)
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentActionsSection.tsx
  platform/wab/src/wab/client/components/sidebar-tabs/ComponentProps/CustomPropEditor.tsx
Due: check-instanceof-model, eslint

Minor contributing doc updates (#1214)
  CONTRIBUTING.md
Due: none

Update copy.bash
  copy.bash
Due: none

chore: improve canvas-package and subdeps organization (#1218)
  platform/canvas-packages/package.json
  platform/canvas-packages/src/error-boundary.tsx
  platform/canvas-packages/src/index.ts
  platform/canvas-packages/src/modals.tsx
  platform/canvas-packages/tsconfig.json
  platform/canvas-packages/yarn.lock
  platform/wab/src/wab/client/components/canvas/CanvasText.ts
  platform/wab/src/wab/client/components/canvas/RichText/RichTextToolbar.tsx
  platform/wab/src/wab/client/components/canvas/events.ts
  platform/wab/src/wab/client/components/canvas/slate.ts
  platform/wab/src/wab/client/components/canvas/subdeps.ts
  platform/wab/src/wab/client/studio-ctx/view-ctx.ts
Due: check-instanceof-model, eslint

fix(loader): remove registerFunction calls from the bundle
  platform/wab/src/wab/server/loader/module-bundler.ts
Due: check-instanceof-model, eslint

fix(loader): remove unnecessary builtin module
  packages/loader-react/api/index.api.md
  packages/loader-react/api/react-server.api.md
  packages/loader-react/src/loader-client.ts
  packages/loader-react/src/loader-server.tsx
  packages/loader-react/src/loader-shared.ts
Due: none

Publish
  packages/loader-gatsby/package.json
  packages/loader-nextjs/package.json
  packages/loader-react/package.json
  plasmicpkgs-dev/package.json
Due: none

fix: config SMTP FrN en dur
  platform/wab/src/wab/server/emails/tools/test-email.mts
Due: none

feat: add ci
  .gitlab-ci.yml
Due: none

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Edit .gitlab-ci.yml -- change from production tag to release
  .gitlab-ci.yml
Due: none

Edit .gitlab-ci.yml -- reuse the already build image
  .gitlab-ci.yml
Due: none

fix: add SSL and path style env vars for S3
  platform/loader-tests/src/test-utils.ts
  platform/wab/src/wab/server/bundle-migrations/22-add-aspect-ratio.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/routes/loader.ts
  platform/wab/src/wab/server/routes/misc.ts
  platform/wab/src/wab/server/util/s3-util.ts
  platform/wab/src/wab/server/workers/codegen.ts
Due: check-instanceof-model, eslint, check-bundle-migrations

fix: mailer avec 100% de var d'env
  platform/wab/src/wab/server/emails/tools/test-email.mts
Due: none

fix: on surcharge tous les constructeurs de s3 pour passer les acces key et secret
  platform/loader-tests/src/test-utils.ts
  platform/wab/src/wab/server/bundle-migrations/22-add-aspect-ratio.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/routes/loader.ts
  platform/wab/src/wab/server/routes/misc.ts
  platform/wab/src/wab/server/util/s3-util.ts
  platform/wab/src/wab/server/workers/codegen.ts
Due: check-instanceof-model, eslint, check-bundle-migrations

fix: add S3 region
  platform/loader-tests/src/test-utils.ts
  platform/wab/src/wab/server/bundle-migrations/22-add-aspect-ratio.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/routes/loader.ts
  platform/wab/src/wab/server/routes/misc.ts
  platform/wab/src/wab/server/util/s3-util.ts
  platform/wab/src/wab/server/workers/codegen.ts
Due: check-instanceof-model, eslint, check-bundle-migrations

fix: replace too weak default passwords
  docs/contributing/platform/00-getting-started.md
  platform/loader-tests/src/env.ts
  platform/loader-tests/src/playwright-tests/nextjs/nextjs-plasmic-auth.spec.ts
  platform/wab/cypress/e2e/00auth.spec.ts
  platform/wab/cypress/e2e/data-sources/create-data-source.spec.ts
  platform/wab/cypress/e2e/signup.spec.ts
  platform/wab/cypress/support/util.ts
  platform/wab/src/wab/server/db/DbMgr.spec.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/cmse.spec.ts
  platform/wab/src/wab/server/routes/loader.spec.ts
  platform/wab/src/wab/server/test/backend-util.ts
  platform/wab/tools/docker-dev/db-setup.bash
  platform/wab/tools/docker-dev/instructions.bash
  platform/wab/tools/docker-dev/secrets.json
Due: check-instanceof-model, eslint

fix: ouverture de + de ports, ajout du path python et changement mdp bdd provisoir
  platform/wab/tools/docker-dev/Dockerfile
Due: none

fix: move esbuild-plugin-alias to prod dependencies because needed in production build mode
  platform/canvas-packages/package.json
Due: none

fix: add new env vars in docker compose file
  docker-compose.yml
Due: none

fix: build ok, stuck at pm2 run
  docker-compose.yml
  docs/contributing/platform/00-getting-started.md
  platform/canvas-packages/package.json
  platform/loader-tests/src/env.ts
  platform/loader-tests/src/playwright-tests/nextjs/nextjs-plasmic-auth.spec.ts
  platform/wab/cypress/e2e/00auth.spec.ts
  platform/wab/cypress/e2e/signup.spec.ts
  platform/wab/cypress/support/util.ts
  platform/wab/package.json
  platform/wab/src/wab/server/db/DbMgr.spec.ts
  platform/wab/src/wab/server/db/DbMgr.ts
  platform/wab/src/wab/server/routes/cmse.spec.ts
  platform/wab/src/wab/server/routes/loader.spec.ts
  platform/wab/src/wab/server/test/backend-util.ts
  platform/wab/tools/docker-dev/Dockerfile
  platform/wab/tools/docker-dev/instructions.bash
Due: check-instanceof-model, eslint

fix: correction des erreurs de typage
  platform/loader-tests/src/test-utils.ts
  platform/wab/package.json
  platform/wab/src/wab/server/bundle-migrations/22-add-aspect-ratio.ts
  platform/wab/src/wab/server/cdn/images.ts
  platform/wab/src/wab/server/emails/tools/test-email.mts
  platform/wab/src/wab/server/routes/loader.ts
  platform/wab/src/wab/server/routes/misc.ts
  platform/wab/src/wab/server/util/s3-util.ts
  platform/wab/src/wab/server/workers/codegen.ts
  platform/wab/tools/docker-dev/Dockerfile
  platform/wab/tsconfig.tools.json
Due: check-instanceof-model, eslint, check-bundle-migrations

fix: return to commonjs
  platform/wab/package.json
  platform/wab/src/wab/server/emails/tools/test-email.mts
  platform/wab/src/wab/server/workers/codegen.ts
  platform/wab/tsconfig.tools.json
Due: check-instanceof-model, eslint

fix: transpiler ts to js
  platform/wab/package.json
  platform/wab/src/wab/shared/grid-utils.ts
  platform/wab/tools/docker-dev/Dockerfile
  platform/wab/tsconfig.json
Due: check-instanceof-model, eslint

fix: pm2 fonctionne, mais 404 sur le port 3004
  platform/wab/package.json
Due: none

fix: no more CSRF issue, mailer is working too
  docker-compose.production.yml
  plasmicpkgs/commerce-providers/commercetools/src/utils/cookies.ts
  plasmicpkgs/commerce-providers/local/src/utils/cart.ts
  plasmicpkgs/commerce-providers/saleor/src/utils/checkout-create.ts
  plasmicpkgs/commerce-providers/shopify/src/utils/cart-create.ts
  plasmicpkgs/commerce-providers/swell/src/cart/utils/checkout-create.ts
  platform/wab/src/wab/server/AppServer.ts
Due: check-instanceof-model, eslint

fix: vars coherence
  docker-compose.production.yml
  docker-compose.yml
  platform/wab/cypress/e2e/data-sources/create-data-source.spec.ts
  platform/wab/tools/docker-dev/Dockerfile.dev
  platform/wab/tools/docker-dev/secrets.json
Due: none

fix: plasmic frontend is building
  docker-compose.production.yml
  docker-compose.yml
  platform/wab/rsbuild.config.ts
  platform/wab/tools/docker-dev/Dockerfile.backend
  platform/wab/tools/docker-dev/Dockerfile.dev
  platform/wab/tools/docker-dev/Dockerfile.frontend
Due: none

fix: it build and start with pm2, but socket error
  platform/wab/package.json
  platform/wab/src/wab/server/routes/admin.ts
  platform/wab/src/wab/server/trigger-webhooks.ts
Due: check-instanceof-model, eslint

fix: csrf and cookie managment
  .gitlab-ci.yml
  docker-compose.production.yml
  plasmicpkgs/commerce-providers/commercetools/src/utils/cookies.ts
  plasmicpkgs/commerce-providers/local/src/utils/cart.ts
  plasmicpkgs/commerce-providers/saleor/src/utils/checkout-create.ts
  plasmicpkgs/commerce-providers/shopify/src/utils/cart-create.ts
  plasmicpkgs/commerce-providers/swell/src/cart/utils/checkout-create.ts
  platform/wab/src/wab/server/AppServer.ts
  platform/wab/src/wab/server/emails/Mailer.ts
  platform/wab/src/wab/server/emails/tools/test-email.mts
  platform/wab/src/wab/server/routes/data-source.ts
  platform/wab/src/wab/server/routes/demodata.ts
  platform/wab/src/wab/server/routes/server-data.ts
  platform/wab/tools/docker-dev/nginx.conf
Due: check-instanceof-model, eslint

fix: front is building in prod mode, nginx is working, still csrf errors
  docker-compose.production.yml
  platform/wab/tools/docker-dev/Dockerfile.frontend
  platform/wab/tools/docker-dev/nginx.conf
Due: none

fix: relative path for tests
  platform/wab/src/wab/server/scripts/dev-bundle-migrator.ts
Due: check-instanceof-model, eslint

upgrade-internal
  platform/loader-html-hydrate/package.json
  platform/loader-html-hydrate/yarn.lock
  platform/wab/package.json
  platform/wab/yarn.lock
Due: none

fix: restore start-backend
  platform/wab/package.json
Due: none

Path conditions:
  check-instanceof-model: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-weakrefs: any of: ^platform/wab/src/wab/model/model-schema.ts$
  eslint: any of: ^platform/wab/src/.*\.(ts|tsx)$
  check-plume-version: any of: ^platform/wab/src/wab/(server/pkg-mgr/(data/.*\.json|index\.ts|plume-pkg-mgr\.ts)|shared/pkg-versions\.ts)$
  check-bundle-migrations: any of: ^platform/wab/src/wab/server/bundle-migrations/.*$
